[2020-04-28 12:52] thompson318 opened #1 "Initial Scoping"
In GitLab by @MattClarkson on Sep 27, 2018, 15:28

We need to decide initial scope for SNAPPY.

The current scope (or minimalist requirements doc) is being written as the front page readme.

Please all update.

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MattClarkson on Sep 27, 2018, 15:30

Adding @ThomasDowrick @EddieEdwards @YipengHu @MirekJanatka

Please speak with Steve if Im not available, or ask questions herein.

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MattClarkson on Sep 27, 2018, 15:32

Basic aim:

We have lots of C++/Python/Matlab, e.g. NifTK, NiftyIGI, Whatever. If we were to break these down into small, high quality libraries, of either Pure Python or C++ wrapped in Python, then what set of libraries would we require. Please add to the front page readme for now, or if you just want general discussion and not yet ready to commi

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @ThomasDowrick on Sep 28, 2018, 13:43

Are all the things listed readme bits of code that already exist, things we want to have, or a mixture of both?
If both, might be useful to indicate which is which.

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MattClarkson on Sep 28, 2018, 14:04

Its requirements / wish list. Then we prioritise. Then we look around to see what needs refactoring, or rewriting, or writing from scratch.

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MirekJanatka on Sep 28, 2018, 14:09

In terms of my EVM work, I will start to implement it in CUDA over the next few weeks, so will report here as that happens

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MattClarkson on Sep 28, 2018, 14:12

If its just chat, you could use slack. Or, if you want to contribute, we should work out a minimal package for you to write. e.g.... a small python/c/CUDA package that has some nice CUDA kernels that could be applied to any OpenCV image? Would that be reasonable. If thats the case, raise a separate ticket.

[2020-04-28 12:52] thompson318 commented on #1
In GitLab by @MirekJanatka on Sep 28, 2018, 14:25

Sounds great! That would be very helpful. I raised it as todo.

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @MattClarkson on Oct 4, 2018, 16:25

Adding @GeorgeDwyer

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @MattClarkson on Oct 15, 2018, 21:54

@StephenThompson - I added some thoughts on naming convention [here](https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/wikis/Decisions).

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @StephenThompson on Oct 17, 2018, 12:06

scikit-surgery makes sense. I guess I would prefer to start by keeping things in separate small packages, as Yipeng suggests to keep things as independent and lightweight as possible. And as Tom says modules can easily be moved to other packages as necessary.

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @MattClarkson on Oct 17, 2018, 12:54

Is it worth having scikit-surgeryexception just to store common exceptions or base class exceptiopns? Or is that too fine-grained?

You could say:

* scikit-surgeryimage  defines base class sksurgery.ImageError
* scikit-surgerygui  defines base class sksurgery.GuiError
* scikit-surgeryvisualisation  defines base class sksurgery.VisualisationError

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @StephenThompson on Oct 17, 2018, 13:01

I don't understand why scikit-surgery would depend on scikit-surgeryimage.

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @ThomasDowrick on Oct 17, 2018, 13:17

I have the same confusion as Steve.

I also think it would be too fine grained to have a separate package for exceptions. The existing set of exceptions in Python is relatively broad (https://docs.python.org/2/library/exceptions.html), and if we're building on top of numpy/OpenCV for images, qt for guis, and vtk for visualisation, they come with

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @MattClarkson on Oct 17, 2018, 13:26

fair points regarding exceptions, as you lot have more experience than me in Python! Lets just keep them in each module as necessary.

Regarding the point of whether there is some "core" component. I was imagining that you might want a package containing things that coordinate operations between different packages, e.g. thread coordination? But th

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @StephenThompson on Nov 7, 2018, 13:03

I think this can be closed now. We have readmes and wikis that describe what SNAPPY is/isn't so I'm going to close.

[2020-04-28 12:53] thompson318 commented on #1
In GitLab by @StephenThompson on Nov 7, 2018, 13:03

closed

[2020-04-28 12:53] #1 closed

[2020-04-28 12:53] thompson318 opened #2 "Define Standard Mac Build"
In GitLab by @MattClarkson on Sep 27, 2018, 21:04

Please discuss any requirements for a standard Mac build, then update the wiki page [here](https://weisslab.cs.ucl.ac.uk/WEISS/wiki/wikis/WEISS-Mac) with the final description.

[2020-04-28 12:53] thompson318 commented on #2
In GitLab by @MattClarkson on Sep 27, 2018, 21:04

changed the description

[2020-04-28 12:53] thompson318 opened #3 "Define Standard Windows Build"
In GitLab by @MattClarkson on Sep 27, 2018, 21:05

Please discuss any requirements for a standard Windows build, then update the wiki page [here](https://weisslab.cs.ucl.ac.uk/WEISS/wiki/wikis/WEISS-Windows) with the final description.

[2020-04-28 12:53] thompson318 opened #4 "Define Standard Linux build"
In GitLab by @MattClarkson on Sep 27, 2018, 21:06

Please discuss any requirements for a standard Linux build, then update the wiki page [here](https://weisslab.cs.ucl.ac.uk/WEISS/wiki/wikis/WEISS-Linux) with the final description.

[2020-04-28 12:53] thompson318 opened #5 "CUDA integration into SNAPPY"
In GitLab by @MirekJanatka on Sep 28, 2018, 14:24

[2020-04-28 12:53] thompson318 commented on #5
In GitLab by @MattClarkson on Oct 15, 2018, 21:51

assigned to @MirekJanatka

[2020-04-28 12:53] thompson318 commented on #5
In GitLab by @MattClarkson on Oct 15, 2018, 21:51

@MirekJanatka - did you get anyware with Python/CUDA?

[2020-04-28 12:53] thompson318 commented on #5
In GitLab by @MirekJanatka on Oct 15, 2018, 21:53

Not yet, will move on to this after CVPR deadline

[2020-04-28 12:53] thompson318 commented on #5
In GitLab by @MattClarkson on Dec 21, 2018, 12:06

@SimoneFoti @BongjinKoo @StephenThompson @ThomasDowrick - adding you guys, as we try to define what SNAPPY may/maynot require for CUDA.

2 very general discussions at the moment

* image processing, eg. could use opencv cuda stuff
* geometry processing

Add all discussions here, and we can resume in the new year.

[2020-04-28 12:54] thompson318 commented on #5
In GitLab by @MattClarkson on Mar 4, 2019, 20:53

I've created project: https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY/scikit-surgerygpucpp

We'd need to setup CI on Linux/Mac, as we can't use Travis/Appveyor. Its based on OpenCV, if we want, and ArrayFire.

Probably need separate train of thought for geometry processing, so I'll close this ticket for now, or until someone comes b

[2020-04-28 12:54] thompson318 commented on #5
In GitLab by @MattClarkson on Mar 4, 2019, 20:53

closed

[2020-04-28 12:54] #5 closed

[2020-04-28 12:54] thompson318 opened #6 "Check if PythonTemplate supports building a stand-alone installer?"
In GitLab by @MattClarkson on Oct 1, 2018, 22:00

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @ThomasDowrick on Oct 2, 2018, 10:10

We touched upon this a bit previously - https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/ardavin/wikis/QuestionsForDiscussion

In short, it is possible to build a stand alone installer using PyInstaller/py2exe/py_freeze. I haven't tried this yet, and it isn't currently included with PythonTemplate, but I can update it once I've tried out t

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @MattClarkson on Oct 10, 2018, 13:39

So, i made my own package with hello.py. Using PyInstaller was easy. Also I look in Tom's PythonTemplate, and it looks like it could/should be included, but I don't yet know how to run a specific tox job?

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @ThomasDowrick on Oct 10, 2018, 14:15

I tested pyinstaller for the ardavin project and it does seem very straightforward.

The PythonTemplate project includes a 'build install' step in the CI pipeline which uses pyinstaller (I hadn't noticed this before). After pip installing tox, ```tox -e installer``` should build the executable in the /dist folder.

the 'build install' step is con

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @MattClarkson on Oct 10, 2018, 15:20

I just used cookie cutter to create a test project, and the installer does what I expect. The only thing I might change, is a .gitignore to people don't accidentally check in the build folder.

Also - have you tried it yet? If you create a new project, for just a library, do you need a toplevel.py file?

I created a project, called banana, and it

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @ThomasDowrick on Oct 11, 2018, 10:16

By default the Project name and the package name are the same (except package is in lower case), but these could be different e.g. Project 'fruit' and package 'banana', in which case there would be

    /fruit
        /banana
        banana.py
        etc.

banana.py isn't necessary for package to run, as Tom changed the /banana/__main__.py templ

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @MattClarkson on Oct 12, 2018, 22:02

I've opened specific issues for the PythonTemplate project, so can close this, as the answer is essentially "yes".

[2020-04-28 12:54] thompson318 commented on #6
In GitLab by @MattClarkson on Oct 12, 2018, 22:02

closed

[2020-04-28 12:54] #6 closed

[2020-04-28 12:54] thompson318 opened #7 "Create documentation repo for Remi/Jonathan/TomD"
In GitLab by @MattClarkson on Oct 1, 2018, 22:09

See if Remi has a repo. If not we need all the docs for Jonathan/Remi/TomD project stored in version control.

[2020-04-28 12:54] thompson318 commented on #7
In GitLab by @ThomasDowrick on Oct 2, 2018, 10:00

This was on my to-do list for this week. I'll combine Remi's documentation with the notes Jonathan and I made, and put them in a new repo.

[2020-04-28 12:54] thompson318 commented on #7
In GitLab by @MattClarkson on Oct 2, 2018, 13:08

The key point is to get Remi/TomV on board. Its pointless if we diverge.
Thanks.

[2020-04-28 12:54] thompson318 commented on #7
In GitLab by @ThomasDowrick on Oct 5, 2018, 13:34

Code/documentation repository at https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/skullbasenavigation

[2020-04-28 12:54] thompson318 commented on #7
In GitLab by @ThomasDowrick on Oct 5, 2018, 13:34

closed

[2020-04-28 12:54] #7 closed

[2020-04-28 12:54] thompson318 opened #8 "Create/push a python package to PyPi using a) setup.py file b) python wheel"
In GitLab by @ThomasDowrick on Oct 5, 2018, 13:37

Any python package can be uploaded to the Python Package Index (PyPI), providing 'pip install xyz' functionality.

Check we can do this using the existing Python Template project (or adjust if neccessary).

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Oct 10, 2018, 14:45

The PythonTemplate project creates a setup.py file, that is used to create distributable packages.

If the dependencies are correctly specificed in setup.py, then it is possible to install all the dependencies for a package by:
``` git clone https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/ardavin```
``` python setup.py install```

## Dis

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @MattClarkson on Nov 6, 2018, 21:48

THis looks useful. Is it worth testing this out, sooner rather than later, for Pypi sdists at least, even if we are not doing a wheel? If the PythonTemplate needs updating, then its best to do this before we start propagating too many repos without it.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 7, 2018, 09:41

We should certainly get this up and running for our existing projects soon - it will make things much easier in terms of dependency management when we are doing GUIs that pull in different libraries (sksurgeryimage, overlay, tracking etc.)

This seems to be a good guide for GitLab (https://medium.com/@pypripackages/using-gitlab-pipelines-to-deploy

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @MattClarkson on Nov 7, 2018, 09:44

Could it just be a tox task, that didnt run by default? I'm not sure I'd want CI builds to push to PyPi.  @TomDoel @StephenThompson

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 7, 2018, 09:50

The method used in the link above only pushes to PyPi if you push a tagged (v1/v2/whatever) commit to master. Otherwise it can go to a private package repository, or just be ignored.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @TomDoel on Nov 7, 2018, 10:29

@MattClarkson @ThomasDowrick you can have manual jobs in GitLab CI using `when:manual`. You trigger them manually on the GitLab user interface (a play button appears next to the job). You can further specify that this manual job is only available when a tag is pushed.

That's how I did it for the python ImageSplit project; I've copied in the sample CI c

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 8, 2018, 14:49

We will need registered accounts on:

    https://testpypi.python.org/
    https://pypi.org/

In order to automate deploying to the test/real PyPi.

The username/password need to be stored as variables on GitLab ($PYPI_USER $PYPI_PASS etc.) I see two options:

1. We create a new e-mail address (can we get one through UCL?) just to use for this.
2.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @StephenThompson on Nov 8, 2018, 15:01

I just used my ucl account with a password I don't use for anything else.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @MattClarkson on Nov 9, 2018, 08:38

@StephenThompson - did you push any package? Im intrigued. We should reserve the namespace at least fairly soon.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 9, 2018, 10:43

I've been able to push a package to the PyPi test server. I held off pushing anything to the main one for now, but the procedure is the same.

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 13, 2018, 14:28

Closing as relevant discussion is covered by https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/issues/14

[2020-04-28 12:55] thompson318 commented on #8
In GitLab by @ThomasDowrick on Nov 13, 2018, 14:28

closed

[2020-04-28 12:55] #8 closed

[2020-04-28 12:55] thompson318 opened #9 "Install Python on SmartLiver"
In GitLab by @MattClarkson on Oct 10, 2018, 12:06

@StephenThompson @ThomasDowrick - yell if you can see a downside of installing Anaconda on SmartLiver PC?

[2020-04-28 12:55] thompson318 commented on #9
In GitLab by @StephenThompson on Oct 10, 2018, 12:26

Not that I can think of. Would just Python be better, it comes with less gumf. Anaconda annoys me because anacondas are boas not pythons.

[2020-04-28 12:55] thompson318 commented on #9
In GitLab by @ThomasDowrick on Oct 10, 2018, 13:37

Can't think of any reason not to either.

[2020-04-28 12:55] thompson318 commented on #9
In GitLab by @MattClarkson on Oct 11, 2018, 04:34

changed title from **Install Python {-(Anaconda) -}on SmartLiver** to **Install Python on SmartLiver**

[2020-04-28 12:55] thompson318 commented on #9
In GitLab by @MattClarkson on Oct 11, 2018, 04:42

Fair point - I just did Python 3.6, for all users, as Tom's tox stuff relies move on virtualenv rather than conda envs. I didn't see much point mixing the two. Also, things like the Tensor Flow install instructions, assume a basic python virtualenv rather than anaconda.

[2020-04-28 12:55] thompson318 commented on #9
In GitLab by @MattClarkson on Oct 11, 2018, 04:42

closed

[2020-04-28 12:56] #9 closed

[2020-04-28 12:56] thompson318 opened #10 "Test SDI multiplexer, and getting OpenCV to capture left/right stereo pair simultaneously"
In GitLab by @MattClarkson on Oct 10, 2018, 12:07

@ThomasDowrick - can you remember why this didnt work on Viking?

Somehow it should right? Thats the whole purpose of a multiplexer?

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 10, 2018, 13:40

----- Original Message -----
Thomas Dowrick 11 July 2018 12:48 PM
________________________________________

Product: Mini Converter SDI Multiplex 4K
First Name: Thomas
Last Name: Dowrick
Company: UCL
Email: t.dowrick@ucl.ac.uk
Phone Number: 0000000000
City: London
State: Not specified
Country: United Kingdom
Subject: Multiplexing 2 x SD-SDI signa

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 10, 2018, 13:40

That is my correspondence with Black Magic Support. They don't seem to think that what we want to use it for is possible. It would be useful to try the multilpexer on a video source that we 100% know is Dual Link, to see what comes out.

Also, no-one replied to me on the Black Magic forum :(

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 10, 2018, 13:42

So, Johannes docs suggest that the Viking is 2 independent SDI channels. Whether or not the viking sends the data out synchronised is unknown (to me at least).

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 10, 2018, 13:46

What about https://www.filmtools.com/aja-hi-5-3d-mini-converter.html

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 10, 2018, 14:27

I'll e-mail them and see if they think it is suitable.

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 11, 2018, 09:30

They seem to think it will work (see e-mail below). I will get a quote from them.

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 11, 2018, 09:37

Can you check scan and jigsaw website, Im sure Ron could just order one!

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 11, 2018, 11:12

Nevermind, I just noticed that there is on on @MirekJanatka's desk. Mirek - Did you try it out at all (The https://www.filmtools.com/aja-hi-5-3d-mini-converter.html)?

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 11, 2018, 11:24

@ThomasDowrick I tried it out with the Magewell, but with no luck, perhaps with the 3D monitor would be another approach

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 11, 2018, 22:00

or it didnt work because combining 2 images together results in an image that is not recognised by the next device. Maybe just stream it into OpenCV?

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 12, 2018, 08:11

Admittedly I didn't spend too long on it, however I remember being a little baffled. I emailed Magewell and they claim it should be possible with their card. Email response below.

Hello Mirek,

Nice to know you.

According to your description, USB Capture SDI could support SDI signal from the multiplexer. The dongle is based on different structur

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 12, 2018, 16:23

I had a play with it, but couldn't get it to work either. I tried using the SDI output through the Magewell, and also the HDMI output going into a monitor.

It can output either one of the two inputs, but not both at the same time. I will see if their tech support can offer any help.

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 12, 2018, 18:03

So it turns out it will only work with HD-SDI, not SD-SDI. Do we have any HD-SDI cameras?

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 12, 2018, 18:54

what are you calling HD? 1920x1080?

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 12, 2018, 20:56

I'm a bit vague on the difference between the two if I'm honest.

HD and SD SDI seem to be two different standards (see first paragraph on https://en.m.wikipedia.org/wiki/Serial_digital_interface), rather than a specific resolution.

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 12, 2018, 21:25

Try using the HDMI converters to SDI and feed it into the AGA and capture it on the Magewell. You should be able to configure the AGA to have side by side output.

If this works and the aga doesn't capture the SD out (I believe ours is type ending 259) then I think we are stuck, as this SD standard is too old now. However, at least we'll know if t

[2020-04-28 12:56] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 12, 2018, 21:26

And we can probably get away with the two Magewells for in the lab

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 12, 2018, 22:15

Looking here: http://www.magewell.com/products/usb-capture-sdi-gen-2

it looks like max resolution is 2048 x 1080, so we can't put 2 x 1920 x 1080 either side-by-side or top-bottom. So, even if the multiplexer works, it won't go through the Magewell.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 13, 2018, 04:34

Ah.

So this is only useful on the Weiss white box with a black magic card I guess. SRV should have a spare BM 4K card in the office lab on the second floor, but it may have been installed in an older desktop there.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @ThomasDowrick on Oct 15, 2018, 11:49

The AGA can also do 'frame packing', where it doubles the frame rate, rather than putting two images side-by-side. In that scenario, the Magewell should work.

Eddie and I will try it on the SI, which has HD-SDI, when we get a chance.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 15, 2018, 11:53

Ive got a feed into SmartLiver, so SDI from Viking, left/right at 1920x1080, into AJA multiplexer, pack top/bottom, so you get first 540 rows left image, next 540 rows right image, then into Magewell to give both frames in one image, and OPenCV reads from USB device out of the box, at 59.9 FPS.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 15, 2018, 12:27

So, the viking is 1080i29.29 left and right, which is not compatible with the AJA, which only does frame packing at 1080p.

So, the best we can do is top/bottom.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 15, 2018, 13:10

Must be a similar USB capture card coming out soon for those 4k twitch streaming gamers...

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MirekJanatka on Oct 15, 2018, 13:15

https://www.epiphan.com/products/avio-4k/

would need an HDMI/SDI converter too

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 15, 2018, 21:38

Images for future reference.

* ![AJA-Hi5-3D-Config](/uploads/22f5bace72e4667313343dd5713752d7/AJA-Hi5-3D-Config.png)
* ![Magewell-USB-Capture-SDI-Config](/uploads/4794a69fd6df22b3b815251dbeee3b8d/Magewell-USB-Capture-SDI-Config.png)
* ![USB-FPS](/uploads/e695bdb58b0ee87b7a102faf3e1a4629/USB-FPS.png)

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 15, 2018, 21:40

So, the AJA is set to be configured via software. You must install Magewell drivers for your platform (I tried Windows and Mac), it should just recognise the device as a USB camera. Then OpenCV can just magically read it.

@BongjinKoo - cc'd for reference.

[2020-04-28 12:57] thompson318 commented on #10
In GitLab by @MattClarkson on Oct 15, 2018, 21:50

closed

[2020-04-28 12:57] #10 closed

[2020-04-28 12:57] thompson318 opened #11 "Functions to de-interlace / re-interlace for 3D monitor."
In GitLab by @MattClarkson on Oct 17, 2018, 18:25

For SmartLiver project.

Viking outputs L + R, put into AJA Hi5-3D, and you get 1920x1080 interlaced.
Storz outputs on DVI, as 1920x1080 interlaced.

So far on SmartLiver we have output to a 2D screen. We now have a new stack with a 2nd 3D screen. So, it could be a good time to start driving a 3D monitor.

So, in the lab we could achieve this with

[2020-04-28 12:57] thompson318 commented on #11
In GitLab by @ThomasDowrick on Oct 18, 2018, 09:49

There is a fairly servicable solution here which could be extended to an n-d array https://stackoverflow.com/questions/5347065/interweaving-two-numpy-arrays

I get the feeling that this isn't going to be the fastest way to do it, especially when working in more than 1 dimension. This could be a good candidate for writing a function in C and wrapp

[2020-04-28 12:57] thompson318 commented on #11
In GitLab by @MattClarkson on Oct 18, 2018, 10:38

could we do something equivalent to memcpy row by row? Also, make sure we pass in both input and output array to avoid repeatedly re-allocating memory.

like

* def deinterlace_stereo(input, left, right)
* def reinterlace_stereo(left, right, output)

The main point for raising this issue here, is that we don't yet have other projects to raise issu

[2020-04-28 12:57] thompson318 commented on #11
In GitLab by @MattClarkson on Oct 21, 2018, 13:12

Moved to project [scikit-surgeryvideo, Issue 1](https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/scikit-surgeryvideo/issues/1).

[2020-04-28 12:57] thompson318 commented on #11
In GitLab by @MattClarkson on Oct 21, 2018, 13:12

closed

[2020-04-28 12:57] thompson318 commented on #11
In GitLab by @MattClarkson on Nov 13, 2018, 12:52

assigned to @MattClarkson

[2020-04-28 12:57] #11 closed

[2020-04-28 12:57] thompson318 opened #12 "Function to apply distortion correction to video image."
In GitLab by @MattClarkson on Oct 17, 2018, 18:31

Im not sure how this affects things on a 3D monitor, but up until now we have always displayed undistorted video, as the VTK rendering is undistorted.

So, this in conjunction with issue #11 could be a first test to see how much processing time we are losing as we switch to Python?

[2020-04-28 12:58] thompson318 commented on #12
In GitLab by @MattClarkson on Oct 21, 2018, 13:13

Moved to [scikit-surgeryvideo issue 2](https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/scikit-surgeryvideo/issues/2).

[2020-04-28 12:58] thompson318 commented on #12
In GitLab by @MattClarkson on Oct 21, 2018, 13:13

closed

[2020-04-28 12:58] thompson318 commented on #12
In GitLab by @MattClarkson on Nov 13, 2018, 12:53

assigned to @MattClarkson

[2020-04-28 12:58] #12 closed

[2020-04-28 12:58] thompson318 opened #13 "Versioning - how to use semantic versioning, git hash version, and versioneer.py"
In GitLab by @MattClarkson on Oct 23, 2018, 08:32

@ThomasDowrick - how do we use semantic versioning in PythonTemplate? Won't we need semantic versioning for pip install to detect package versions and upgrades.

So, if applications like SmartLiver need various versions of scikit-surgery<whatever> they would need to know what version to use. How do we do this?

[2020-04-28 12:58] thompson318 commented on #13
In GitLab by @ThomasDowrick on Oct 23, 2018, 10:47

The _requirements.txt/requirements-dev.txt_ files can be modified to include specfic or minimum version numbers for dependent packages, e.g.:

[code]

[2020-04-28 12:58] thompson318 commented on #13
In GitLab by @MattClarkson on Oct 23, 2018, 11:23

If I have an app that needs a specific version of scikit-surgeryimage, firstly how do I denote the version of scikit-surgeryimage when I tag, or upload to pypi? then secondly, do I need to duplicate in setup.py for when when my app is installed?

[2020-04-28 12:58] thompson318 commented on #13
In GitLab by @ThomasDowrick on Oct 23, 2018, 11:39

Versioneer will extract the version number from (amongst other things) git tags. So if we have tagged a commit as v.1.2.3, and then upload it to Pypi, it will show up as v1.2.3.

Upon futher reading into the difference between requirements.txt and _install_requires_ in setup.py, it seems that there is a subtle but important difference between the

[2020-04-28 12:58] thompson318 commented on #13
In GitLab by @MattClarkson on Oct 23, 2018, 13:06

Great. Thanks. We can close this task, as we have enough info documented here.

[2020-04-28 12:58] thompson318 commented on #13
In GitLab by @ThomasDowrick on Oct 23, 2018, 13:16

closed

[2020-04-28 12:58] #13 closed

[2020-04-28 12:58] thompson318 opened #14 "Create scikit-surgery as placeholder package"
In GitLab by @MattClarkson on Oct 24, 2018, 22:49

Should scikit-surgery be created as a placeholder or root package?

The proposed aim would be that:

[code]
installs all the other packages like scikit-surgeryimage, scikit-surgerygui etc.
So, the scikit-surgery package would probably just be a front page readme, and a bunch of config files like setup.py.

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @MattClarkson on Oct 24, 2018, 22:50

changed the description

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @ThomasDowrick on Nov 13, 2018, 11:58

Done. I just created a new project called [scikit-surgery](https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/sckit-surgery) from PythonTemplate and pushed it to PyPi.

It seems to work, can someone double check @MattClarkson  @StephenThompson, ideally in a a clean virtual environment:

    pip install scikit-surgery
    python -c "from sks

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @StephenThompson on Nov 13, 2018, 12:05

Works for me, thanks.

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 12:35

assigned to @ThomasDowrick

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 12:39

Cool. Thanks. Before this ticket is closed, can we:

* Ensure the gitlab repo is public, and has a reasonably accurate README.rst
* Docs are published on readthedocs so that the front page links and badges work
* Simple explanation of what we are doing, even if its "Placeholder - image guided surgery platform, more to follow", or similar
* Ensure

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @ThomasDowrick on Nov 13, 2018, 12:40

I've put some instructions in the wiki.

https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/wikis/pushing-package-to-pypi

I created a 'weiss_ucl' user on PyPI. I will e-mail you both the password.

[2020-04-28 12:58] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 12:40

Great. Thanks.

[2020-04-28 12:59] thompson318 commented on #14
In GitLab by @ThomasDowrick on Nov 13, 2018, 12:41

It is mandatory to have a version number to push to PyPI - for no particular reason it ended up at v0.1.2 after all my playing around. I will address the other points you raised this afternoon.

[2020-04-28 12:59] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 12:45

I thought it would be. Im happy to start with whatever version number we end up with, but as a policy we should use semantic versioning.

i.e
major = breaking API change
minor = additional features, no breaking API change
patch = bugfix

This should probably be a reminder in the Python Template aswell. I'll raise a ticket to make it more obvs.

[2020-04-28 12:59] thompson318 commented on #14
In GitLab by @ThomasDowrick on Nov 13, 2018, 17:05

So I think I've covered all the above. There is a strange issue with the badges/logo not showing properly - not quite sure what that is about. Once/if we get to a 'final' version for PythonTemplate, we can refresh scikit-surgery with a newly generated template.

[2020-04-28 12:59] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 21:40

Badges sorted. The repo was miss named, with a missing i. You had sckit instead of scikit, so you will need to reclone. I renamed repo, badges work, CI works and read-the-docs work.

[2020-04-28 12:59] thompson318 commented on #14
In GitLab by @MattClarkson on Nov 13, 2018, 21:40

closed

[2020-04-28 12:59] #14 closed

[2020-04-28 12:59] thompson318 opened #15 "Can image processing ops be standardised? What would an interface be?"
In GitLab by @MattClarkson on Oct 29, 2018, 22:00

I think it is at least worth having some common usage examples for each package, such as the one described above. We might then find that some examples lend themselves to becoming a class/command line progam/gui etc.

We should also try to standardise some function naming conventions between different modules e.g. everything has a .DoProcessing()

[2020-04-28 12:59] thompson318 commented on #15
In GitLab by @MattClarkson on May 15, 2019, 10:15

@StephenThompson, @ThomasDowrick - I suggest closing this one. In SmartLiver, which is our biggest example to date, we just concatenated sequences of commands, either from OpenCV/Numpy directly, or from SNAPPY libraries. The logic is so app specific, that i think there isn't much benefit in overthinking things. The total amount of python was small

[2020-04-28 12:59] thompson318 commented on #15
In GitLab by @StephenThompson on May 15, 2019, 11:31

Yes, I'm happy to close.

[2020-04-28 12:59] thompson318 commented on #15
In GitLab by @MattClarkson on May 15, 2019, 11:31

closed

[2020-04-28 12:59] #15 closed

[2020-04-28 12:59] thompson318 opened #16 "Can we modularise GUI components without creating too much complexity?"
In GitLab by @MattClarkson on Oct 29, 2018, 22:01

i.e if 10 different apps needed video camera calibration, could we provide a standard window? If so, is it a plugin? or just a widget?

[2020-04-28 12:59] thompson318 commented on #16
In GitLab by @MattClarkson on May 15, 2019, 10:13

Im going to say no to myself. Each UI can/should do whatever they see as most appropriate.

[2020-04-28 12:59] thompson318 commented on #16
In GitLab by @MattClarkson on May 15, 2019, 10:13

closed

[2020-04-28 12:59] #16 closed

[2020-04-28 12:59] thompson318 opened #17 "Question on code duplication in docs, unit tests, etc."
In GitLab by @MattClarkson on Nov 6, 2018, 11:17

If we have requirements.rst for software requirements, then we document code with docstrings, then we have unit tests, which also define/validate the spec, then do we have too much duplication? What's a clean simple set of advice here?

[2020-04-28 12:59] thompson318 commented on #17
In GitLab by @MattClarkson on Nov 23, 2018, 23:25

assigned to @StephenThompson

[2020-04-28 12:59] thompson318 commented on #17
In GitLab by @MattClarkson on Nov 26, 2018, 09:56

I tried editing requirements.rst. I was trying to make it so I could refer to pages in the API docuemntation such as within comments of the docstring of either the functions implementing the functionality, or the functions that were the unit tests. I couldn't do it.

So, if a developer writes excellent API documentation, and also, the unit test ha

[2020-04-28 12:59] thompson318 commented on #17
In GitLab by @MattClarkson on Nov 26, 2018, 09:56

closed

[2020-04-28 12:59] thompson318 commented on #17
In GitLab by @ThomasDowrick on Nov 26, 2018, 10:33

I think it is good to have requirements/specifications set out somewhere, especially as we're working with medical devices. This doesn't necessarily have to be stored in each repository, or be a formal software specification, it could be that the list of requirements (Data Capture/Algortitms/Viz etc.) we currently have on the SNAPPY page is suffi

[2020-04-28 13:00] thompson318 commented on #17
In GitLab by @StephenThompson on Nov 27, 2018, 09:23

To me the point of requirements.rst is that it might encourage some people to follow best practice, which is to think (and record what you think) before you code. To me it doesn't matter whether requirements are subsequently documented there or in the tests and/or the function code. If we were producing production ready medical device code unde

[2020-04-28 13:00] thompson318 commented on #17
In GitLab by @MattClarkson on Nov 27, 2018, 12:36

OK, understood. Lets aim to encourage people to write down requirements first, before hacking away. Then if ultimately, the API and unit tests are sufficient, then thats fine. And maybe at specific releases people could cross reference if necessary.

[2020-04-28 13:00] #17 closed

[2020-04-28 13:00] thompson318 opened #18 "Update WIKI front page to have table/status for each item we said we would implement in the scoping exercise."
In GitLab by @MattClarkson on Nov 6, 2018, 11:17

Is it worth taking the requirements (e.g. point based registration, pivot calibration, etc) and converting to a table, so we can mark which ones are done, in progress, what the status is, where to find it?

[2020-04-28 13:00] thompson318 commented on #18
In GitLab by @MattClarkson on Nov 7, 2018, 08:13

changed title from **Update WIKI front page to have table/status** to **Update WIKI front page to have table/status{+ for each item we said we would implement in the scoping exercise.+}**

[2020-04-28 13:00] thompson318 commented on #18
In GitLab by @MattClarkson on Nov 26, 2018, 09:46

@StephenThompson, @ThomasDowrick - I just updated wiki front page, adding a table of links to quickly refer to all things we have 'delivered', and also made tables out of our prelim scoping exercise, so we can quickly summarise what the status is.

Should be useful, and enough for now.

[2020-04-28 13:00] thompson318 commented on #18
In GitLab by @MattClarkson on Nov 26, 2018, 09:46

closed

[2020-04-28 13:00] #18 closed

[2020-04-28 13:00] thompson318 opened #19 "Adopt Read The Docs theme for Python projects"
In GitLab by @MattClarkson on Nov 7, 2018, 05:43

Do we like Read The Docs? I do. Can you (@ThomasDowrick, @StephenThompson) if we adopt it across all python projects. Im away this Thurs at the CMIC Careers day, so please go ahead without me.

[2020-04-28 13:00] thompson318 commented on #19
In GitLab by @MattClarkson on Nov 7, 2018, 05:43

And there's a merge request in the PythonTemplate project to implement it.

[2020-04-28 13:00] thompson318 commented on #19
In GitLab by @MattClarkson on Nov 9, 2018, 16:30

closed

[2020-04-28 13:00] thompson318 commented on #19
In GitLab by @MattClarkson on Nov 13, 2018, 12:51

assigned to @MattClarkson and unassigned @StephenThompson

[2020-04-28 13:00] #19 closed

[2020-04-28 13:00] thompson318 opened #20 "ReadTheDocs doesn't seem to trigger, it currently needs manually updating"
In GitLab by @MattClarkson on Nov 11, 2018, 08:17

[2020-04-28 13:00] thompson318 commented on #20
In GitLab by @ThomasDowrick on Nov 13, 2018, 17:03

Looks like you need to manually set up Webhook in ReadTheDocs and add it to Gitlab. I just did this for scikit-surgery and it is working.

![image](/uploads/7783c53ef60a7ada5235b2861e00ee0b/image.png)

Then add the webhook address it gives you to the Settings->Integration portion of the GitLab repository; you need to add https:// at the start of

[2020-04-28 13:00] thompson318 commented on #20
In GitLab by @MattClarkson on Nov 13, 2018, 19:13

assigned to @ThomasDowrick

[2020-04-28 13:00] thompson318 commented on #20
In GitLab by @MattClarkson on Nov 13, 2018, 21:50

OK, my mistake then, as I didnt understand it. Ive done it now for algorithms, image, videolag and transforms.

[2020-04-28 13:00] thompson318 commented on #20
In GitLab by @MattClarkson on Nov 13, 2018, 21:50

closed

[2020-04-28 13:00] #20 closed

[2020-04-28 13:01] thompson318 opened #21 "Decide on preferred or recommended config file format, to enable an initial ConfigurationManager type class somewhere"
In GitLab by @MattClarkson on Nov 16, 2018, 09:50

Any thoughts on whats preferred?

* conf.py - good for live code, but Im thinking configuration shouldnt need live code. Risky for medical apps.
* yaml/ini/json - I (Matt) has no real preference. ini is easy to edit, and probably sufficient.

Advice needed.

@StephenThompson @ThomasDowrick

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 16, 2018, 10:30

Any settings read in from a file should probably go into a Python dictionary. If we take this as a starting point, then yaml or json makes the most sense, as they can both be imported straight into a dictionary.

I'd personally go for yaml, as it is easier to write a valid yaml file than a json one.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 16, 2018, 17:50

Moving discussion here about which package to put config manager in.

Looking at our previous decision on [namespaces](https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/wikis/naming-convention) it would fall under scikit-surgerycore (which doesn't exist yet) as there won't be any dependencies on external libraries.

Also, under the sa

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 20, 2018, 14:05

yaml or just plain python for me. yaml should be more portable, but it does mean an extra dependency and something else to learn. We want to be careful that we keep things as simple as possible.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 20, 2018, 15:48

I can create a new project for scikit-surgerycore, and move this ticket?

Also - are we happy that algorithms and transforms are moved? It does reduce the number of libraries.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 20, 2018, 15:58

I'm not convinced about scikit-surgerycore. If we try and do too much with it it will have too many dependencies that will then break whatever depends on it. Alternatively we let it do very little to minimise dependencies, and then it's not very useful.
I'd rather have lot's of libraries for the minute.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 20, 2018, 16:02

ok, final question before I run for train. Is there still a place for something like the ConfigurationManager we mentioned? to scikit-surgerycore could be a central thing to assist with gluing other things together?

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 20, 2018, 16:17

@StephenThompson - when you say dependenices, do you mean other Python pacakges? scikit-surgerycore, in our orignal discussion on it, would only have numpy as a dependency, so this shouldn't be an issue.

I would veer towards keeping the number of packages down. If we have too many, then I imagine people will try and just use the scikit-surgery m

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 20, 2018, 16:20

From the point of view of an individual library (eg. scikit-surgerynditracker) running things through the configuration manager adds a layer of complexity and abstraction that may not be helpful. However I think when it comes time to assemble an application a configuration manager would be very useful.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 20, 2018, 16:25

@ThomasDowrick  At the moment algorithms and transforms only depend on numpy and six, so I guess they could go into core OK. A configuration manager would presumably require pyyaml so should not be part of core.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 20, 2018, 16:29

Good point about pyyaml - I had assumed yaml support comes built in to Python but upon closer inspection it doesn't.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 20, 2018, 19:26

Agree with @StephenThompson with regards to wanting individual components like a tracker and whatever to be testable independently. This means independently of our own modules, so encourage good unit testing and good coverage. Each module should have minimum dependencies in general, just to reduce dependency hell.

But if we made a new package tha

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 21, 2018, 08:25

Now that I know YAML isn't built into Python - I would no longer recommend using YAML for the config and probably go for JSON instead, and just have the config bit as part of scikit-surgerycore.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 21, 2018, 09:07

I'm not clear on what we gain with json over config files written in python i.e.
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'
#versus
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
The syntax is nearly identical, but the user has to learn a new language. What is it we want from our con

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 21, 2018, 09:09

Sorry about the preceding post's formatting.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 21, 2018, 09:32

i just want to load settings from an easily editable text file.

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 21, 2018, 11:02

The difference between JSON and a config.py file is fairly trivial for our case I suppose, in terms of how the data is represented. In terms of practical differences I would say it is more 'Pythonic' to use JSON:

It is more apparent that a JSON file will contain dictionary data, rather than just having it in a config.py file, which some programs

[2020-04-28 13:01] thompson318 commented on #21
In GitLab by @StephenThompson on Nov 21, 2018, 11:55

I tend to agree that using json would make it clearer what's config and what's code. So I suggest:
Algorithms, transforms, and a new config manager go into scikit-core and we must continue to make sure that scikit-core only requires numpy (and six?)

[2020-04-28 13:02] thompson318 commented on #21
In GitLab by @ThomasDowrick on Nov 21, 2018, 12:13

Agreed

[2020-04-28 13:02] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 21, 2018, 13:18

Jolly good, we are converging. I think one of the original intentions of the naming convention scikit-blah was that each scikit package generally is assumed to use scipy default packages like numpy, scipy, matplot lib and pandas. I'd rule out matplot lib for scikit-surgerycore as visualisation and plotting should be separate, but we might need to

[2020-04-28 13:02] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 21, 2018, 20:51

ok, i started scikit-surgerycore, merged algorithms code and transform code in, and will move this issue to that project to continue with ConfigurationManager type thing, based on json.

[2020-04-28 13:02] thompson318 commented on #21
In GitLab by @MattClarkson on Nov 21, 2018, 21:02

assigned to @MattClarkson and unassigned @StephenThompson

[2020-04-28 13:02] #21 closed

[2020-04-28 13:02] thompson318 opened #22 "Training Event - either PythonTemplate, or scikit-surgery"
In GitLab by @MattClarkson on Nov 16, 2018, 09:53

Before XMas maybe.
Maaybe just an informal presentation in seminar room of "work to date"
Or for developers to start using PythonTemplate
Or describe scikit-surgery

Open to suggestions. Might be nice to finish the year in style.... or at least with a sense of satisfaction.

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Dec 12, 2018, 20:46

hmmm. Ive no time for this, and you're away... but im still tempted. Tutorial could include

* Python setup. Virtual envs / Anaconda etc...
* PythonTemplate
* Snappy

Any other thoughts? The reason Im tempted is that we do have people who will be willing to contribute. I need to get Guofang, Bongjin and Simone contributing. Maria will help too. Bu

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @StephenThompson on Dec 12, 2018, 21:24

We need to get them interested in what SNAPPY / Python / Numpy can do for them, i.e. why this is better than doing stuff in Matlab. I'd steer clear of python setup, it's just not very interesting. If I was doing it I would run through the case for software process and what that means https://doi.org/10.1109/ISBI.2004.1398621, maybe with ref to

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @StephenThompson on Dec 12, 2018, 22:24

I did this
https://docs.google.com/forms/d/e/1FAIpQLSe7PmsXTxrlGuXahXVbTz2Gwk4RO3_iQq8k8Z-8fgx_zAQjNw/viewform?vc=0&c=0&w=1

it was very quick and needs a bit of work. Would it be useful? @MattClarkson

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Dec 12, 2018, 22:35

Good start.

I’d like to move away from:
* “We are building a platform for you” (as people never contribute until the Platform is deemed ‘finished’, and even then, they expect you to do all their coding).

towards:
* “Here’s some tools, you build your platform, and by the way we do have some nice libraries already, if you want them”

So, the last

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @StephenThompson on Dec 13, 2018, 09:37

@MattClarkson I've updated the form. Let me know what you think.

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Dec 13, 2018, 09:39

Cool. Thanks. I'm off to lecture. Its the last one of the Python course, so I better go. When I come back, I might send out a slack message suggesting I do some training, and see who's up for it.

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Dec 17, 2018, 09:32

Long story short - I got the lurgy over the weekend. So my time will be limited this week. I'll have to leave it until next term.

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 8, 2019, 08:28

@ThomasDowrick @StephenThompson Can we target a training session in Jan?

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @StephenThompson on Jan 8, 2019, 09:18

Definately. Is there any existing seminar / journal club we can utilise?

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 8, 2019, 09:20

Actually, up until yesterday Id say "No", but then Kate did send round some WEISS invite, but it had nothing on it, so I dont know if she was just booking the rooms out.

Can you ask Kate?

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @ThomasDowrick on Jan 8, 2019, 09:30

The WEISS seminar series is starting up again at some point - could use that as a brief introduction and then run an additional session if people seem interested?

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 15, 2019, 09:14

@StephenThompson - did we get a date?

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @StephenThompson on Jan 15, 2019, 09:16

Only for seminars, which look like they'll be on Monday's again. So not for a tutorial yet.

[2020-04-28 13:02] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 15, 2019, 09:18

can you find a date, agree with Tom, aim to agree on Thurs?

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @StephenThompson on Jan 16, 2019, 12:13

How about 2-4 pm on the 30th or 31st. I'd imagine 20 minutes of talking about what SNAPPY is, some discussion, followed by some basic interactive tutorial. I'd aim to try and keep it to an hour to maximise appeal, but book the room for 2 or 3 hours so people can hang around and hack.

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @ThomasDowrick on Jan 16, 2019, 13:03

31st works for me.

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 16, 2019, 13:23

Lets book it.

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 28, 2019, 08:21

Suggestion: It might be worth actually getting people to do a programming task, to see how nice and easy it is.

There's 3 issues on scikit-surgerycore, 1 in scikit-surgeryimage, and about 2 or 3 in scikit-surgeryvtk that would be easy to explain and even get done within the context of a 1 hour tutorial?

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 28, 2019, 08:43

And you could always starting building up any necessary coordinate conversion functions into scikit-surgerycore (im guessing)?

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @ThomasDowrick on Jan 28, 2019, 10:32

Might be a bit tight to get intro, setup, demo and coding task done within the hour. We do have the room booked for 2 hours though, so if anyone wants to stay longer we can allocate the 2nd hour to coding.

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @MattClarkson on Jan 28, 2019, 17:08

Or do a second session? More of a hackathon.

[2020-04-28 13:03] thompson318 commented on #22
In GitLab by @MattClarkson on Feb 26, 2019, 08:44

closed

[2020-04-28 13:03] #22 closed

[2020-04-28 13:03] thompson318 opened #23 "Add CI step to push to PyPI"
In GitLab by @ThomasDowrick on Nov 16, 2018, 13:27

This can be a manual option in the pipeline, and only avaialable when a tagged version has been pushed to master.

Tom Doel provided this sample code below. $PYPI_USER and $PYPI_PASS need to be store as gitlab variables.

[code]

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @ThomasDowrick on Nov 16, 2018, 13:28

changed the description

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @ThomasDowrick on Nov 16, 2018, 13:29

changed the description

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @ThomasDowrick on Nov 19, 2018, 17:24

I've got this up and running for sckit-surgeryimage. If a commit is tagged, then the CI Pipeline will have a manual step to deploy to PyPI.

I've also updated the Wiki page with some more info: https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/wikis/pushing-package-to-pypi

Do we want to make this part of PythonTemplate, or implement

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @MattClarkson on Nov 20, 2018, 05:00

assigned to @ThomasDowrick

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @MattClarkson on Nov 20, 2018, 05:01

Please can we add it to Python Template?

THanks

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @StephenThompson on Nov 20, 2018, 09:03

Yes, I agree it would be good to add it to the template.

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @ThomasDowrick on Nov 20, 2018, 17:22

I have added this to the template (https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/PythonTemplate/commit/00eec0ff6dac0cc2e9077173e526da57373756d1) and tested it in a new cookiecutter project.

Until we move the software packages into a single Group, it is necessary to manually set the PYPI_USER and PYPI_PASS variables for any new project

[2020-04-28 13:03] thompson318 commented on #23
In GitLab by @ThomasDowrick on Nov 20, 2018, 17:22

closed

[2020-04-28 13:03] #23 closed

[2020-04-28 13:04] thompson318 opened #24 "Move scikit projects to the SNAPPY group"
In GitLab by @ThomasDowrick on Nov 16, 2018, 13:32

All of the repositories that are ready for wider circulation/publicising should be organised within a group for convenience.

https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY

Projects that aren't ready can stay in their own repository.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 26, 2018, 09:30

If you move to group, be sure to update WIKI page accordingly, and .... will this break gitlab triggers for read the docs? What about location on PyPi.

We should sort this out sooner rather than later, so we don't proliferate these things once we widely publicise stuff.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 09:36

assigned to @ThomasDowrick

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 09:37

Good questions - before I move any of the proper repos, I will create a dummy repo and then move it, to see what breaks.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 13:02

So I've tried it out and have identified the following things that need updating after moving a repository:

* Local references to the repository url (for CI badges and in README.rst ).
* ReadTheDocs url
* Links in the SNAPPY Wiki.

PyPI is unaffected.

### Steps

1. Commit and local changes.

2. Move the repository to the SoftwareRepositories/SN

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 13:06

I will move one of the actual repositories this afternoon, and double check all is well.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 15:36

I have moved scikit-surgery into the SNAPPY group using the above instructions, nothing else was needed.

The PyPI deploy step works fine and ReadTheDocs webhooks remain unchanged, only the repo url needs to be updated.

I will move scikit-surgery image and overlay. @MattClarkson @StephenThompson can you give it a go with a different repository,

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 26, 2018, 15:57

@TomDoel, I'll do scikit-surgerycore, @StephenThompson can do nditracker when he's ready i guess.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 26, 2018, 16:19

@MattClarkson - did you setup ReadTheDocs for surgeryimage? I don't have it on my account. If so, can you update the proejct urls?

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 26, 2018, 19:13

I did, I'll sort it tonight.

Also - we could add the new location to PythonTemplate otherwise, it won't automatically generate the right paths?

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 26, 2018, 20:52

scikit-surgerycore and scikit-surgeryvideolag moved.

Just scikit-surgerynditracker to go, and updating PythonTemplate.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @StephenThompson on Nov 27, 2018, 08:58

What I had in mind was that only projects that are reasonably ready (i.e. working and documented) get moved into the SNAPPY group. Thus if someone is searching for a project in SNAPPY, they can be sure that it works. Hence I am not planning to move surgerynditracker yet.
That being the case we may not want the Python Template to default to SNAP

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 27, 2018, 09:05

Agree, don't move until you are ready.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 27, 2018, 10:19

I've added SNAPPY as a (non-default) option in PythonTemplate.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @MattClarkson on Nov 28, 2018, 07:42

So this is done right? Steve can move his when ready?

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 28, 2018, 08:16

Yes, everything is in the right place for now.

[2020-04-28 13:04] thompson318 commented on #24
In GitLab by @ThomasDowrick on Nov 28, 2018, 08:16

closed

[2020-04-28 13:04] #24 closed

[2020-04-28 13:04] thompson318 opened #25 "What about a scikit-surgerytensorflow"
In GitLab by @MattClarkson on Nov 21, 2018, 14:51

@StephenThompson @ThomasDowrick - this ticket to discuss how to integrate learned models into SNAPPY.

So, in my simple view of the world, you'd have:

* Researcher hacks around, implements network, trains network on data... at some point decides 'it works'
* So, to make widely available you would need
    * package that has tensor flow as depende

[2020-04-28 13:04] thompson318 commented on #25
In GitLab by @ThomasDowrick on Nov 21, 2018, 15:39

With the disclaimer that I only have a beginner's knowledge of tensorflow, I have a few thoughts:

*  Will there be enough commonality between different ML projects to allow for code reuse?
*  Is there functionality that isn't already in tensorflow that would warrant creating a new module just for IGI?
*  If we think the workflow could be quite s

[2020-04-28 13:05] thompson318 commented on #25
In GitLab by @MattClarkson on Nov 21, 2018, 16:17

I'll ask Bongjin, and see if there is a need, if not, we can park it for now.

@BongjinKoo

[2020-04-28 13:05] thompson318 commented on #25
In GitLab by @BongjinKoo on Nov 22, 2018, 09:25

All issues raised above are valid.
And, I am worried that this might become just like NiftyNet,
which is a(n unnecessary) wrapper around TensorFlow (TF)
that not many people use (from my perspective).
More so, given that we usually find a (state-of-the-art) network implementation,
from the authors, TensorFlow, or somewhere else, for our purpose,
and

[2020-04-28 13:05] thompson318 commented on #25
In GitLab by @MattClarkson on Nov 22, 2018, 11:22

unassigned @StephenThompson

[2020-04-28 13:05] thompson318 commented on #25
In GitLab by @MattClarkson on Nov 22, 2018, 11:22

OK. Nice to have discussion. Leave it for now. I'll close, we can re-open if necessary.

[2020-04-28 13:05] thompson318 commented on #25
In GitLab by @MattClarkson on Nov 22, 2018, 11:22

closed

[2020-04-28 13:05] #25 closed

[2020-04-28 13:05] thompson318 opened #26 "Define First Milestone"
In GitLab by @MattClarkson on Nov 21, 2018, 14:55

At some point, even just for the sake of drawing a line in the sand, we would need to pick an exemplar as the first milestone, so we can have a target to aim for. This ticket to discuss options.

eg.

* Ardavin refactored to use SNAPPY libraries, so exemplar is Ardavin. This would be useful as I have a surgeon at Royal Free who wants to use it. So

[2020-04-28 13:05] thompson318 commented on #26
In GitLab by @MattClarkson on May 3, 2019, 09:47

what to do with this Issue? Close it?

[2020-04-28 13:05] thompson318 commented on #26
In GitLab by @StephenThompson on May 7, 2019, 13:17

I don't think it's particularly useful from a project management point of view. We have quite a lot of output we can point to, and things are ticking along pretty well. Is there a WEISS platform review we need to prepare for?

[2020-04-28 13:05] thompson318 commented on #26
In GitLab by @MattClarkson on May 7, 2019, 16:11

There's rumours of a review coming. But no firm date yet. Lets close this one, and raise specific Issues when we have hard deadline for a review.

[2020-04-28 13:05] thompson318 commented on #26
In GitLab by @MattClarkson on May 7, 2019, 16:11

closed

[2020-04-28 13:05] #26 closed

[2020-04-28 13:05] thompson318 opened #27 "Fix Front Page on PyPi"
In GitLab by @MattClarkson on Nov 26, 2018, 09:28

Currently, this looks wierd.

https://pypi.org/project/scikit-surgery/

as does this:

https://pypi.org/project/scikit-surgeryimage/

[2020-04-28 13:05] thompson318 commented on #27
In GitLab by @MattClarkson on Nov 26, 2018, 09:28

changed the description

[2020-04-28 13:05] thompson318 commented on #27
In GitLab by @MattClarkson on Nov 26, 2018, 20:50

Looks like this is a possibility:
https://packaging.python.org/guides/making-a-pypi-friendly-readme/

(would need fixing on all sites uploaded to PyPi thus far, and PythonTemplate).

[2020-04-28 13:05] thompson318 commented on #27
In GitLab by @ThomasDowrick on Nov 27, 2018, 12:23

That link worked and I have fixed this for scikit-surgery and scikit-surgeryimage. Other  repositories will have to be changed before they are deployed to PyPI. see commit https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY/scikit-surgery/commit/431dc3c4383682f7dc1e9c758e64356ba4eea7c8 for the changes to make.

Annoyingly, just becaus

[2020-04-28 13:05] thompson318 commented on #27
In GitLab by @MattClarkson on Nov 27, 2018, 12:26

Good stuff. Thanks. At the moment, scikit-surgeryimage looks ok on PyPi, but scikit-surgery does NOT.

Is there a timedelay in refreshing?

[2020-04-28 13:05] thompson318 commented on #27
In GitLab by @MattClarkson on Nov 27, 2018, 12:27

its just refreshed. Problem solved.

[2020-04-28 13:06] thompson318 commented on #27
In GitLab by @MattClarkson on Nov 27, 2018, 12:36

closed

[2020-04-28 13:06] #27 closed

[2020-04-28 13:06] thompson318 opened #28 "Push scikit-surgerycore to PyPi, so scikit-surgeryXXX can depend on it, and adopt semantic versioning."
In GitLab by @MattClarkson on Nov 28, 2018, 08:42

(Possibly a bit wierd asking this as an Issue).

Short version: I presume we are ok with scikit-surgeryXXX depending on scikit-surgerycore?

Long version:
Where do we put small utility functions? Im seeing a few in scikit-surgeryimage that could well go in scikit-surgerycore, but then we would need to have proper semantic versioning of scikit-surg

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @ThomasDowrick on Nov 28, 2018, 08:49

I do get the notification, yes.

I agree that utility functions should be kept in core where possible. I will take a look at moving the ones from image today.

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @MattClarkson on Nov 28, 2018, 09:01

OK. Then this ticket should essentially be "ensure scikit-surgerycore is on PyPi and semantic versioning adopted". Ive updated the title.

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @MattClarkson on Nov 28, 2018, 09:08

changed title from **{-Remind me - scikit-surgeryXXX depends on scikit-surgerycore?-}** to **{+Push scikit-surgerycore to PyPi, so scikit-surgeryXXX can depend on it, and adopt semantic versioning.+}**

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @StephenThompson on Nov 28, 2018, 09:13

I also agree that this is the way to do things.

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @MattClarkson on Nov 28, 2018, 09:16

Cool. Rock on.

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @ThomasDowrick on Nov 28, 2018, 10:39

core is now on PyPI - https://pypi.org/project/scikit-surgerycore/ (version 0.0.1).

This has brought a few other issues to my attention, which I will raise separate issue for and try and sort today as well:

* We should update the readme.rst for projects that are on PyPI to remove/edit the following bit:

[code]

* Update the scikit-surgery repo

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @ThomasDowrick on Nov 28, 2018, 10:39

closed

[2020-04-28 13:06] thompson318 commented on #28
In GitLab by @ThomasDowrick on Dec 3, 2018, 09:19

I decided against moving the existing utility functions from image to core, as they have an opencv dependency.

[2020-04-28 13:06] #28 closed

[2020-04-28 13:06] thompson318 opened #29 "postgres database access"
In GitLab by @ThomasDowrick on Nov 29, 2018, 15:30

How do we access the postgres database? There seems to be a password but no one knows what it is.

[2020-04-28 13:06] thompson318 commented on #29
In GitLab by @ThomasDowrick on Nov 30, 2018, 08:20

moved to WEISS/admin#34

[2020-04-28 13:06] #29 closed

[2020-04-28 13:06] thompson318 opened #30 "Create Millisecond Timer"
In GitLab by @MattClarkson on Dec 4, 2018, 08:01

From @EddieEdwards

https://www.instructables.com/id/High-speed-Clock-for-Slow-motion-Videos/

[2020-04-28 13:06] thompson318 commented on #30
In GitLab by @MattClarkson on Dec 13, 2018, 09:38

I tried chasing Nick Everdell for parts recommendations. No luck yet.

Maybe @RonGaston wants an interesting Job? @Ron - do you want to read the article:
https://www.instructables.com/id/High-speed-Clock-for-Slow-motion-Videos/

and see if you can work out which parts to buy to make the clock as suggested.

Thanks

Matt

[2020-04-28 13:06] thompson318 commented on #30
In GitLab by @EddieEdwards on Dec 13, 2018, 09:54

Sorry for not replying sooner and keeping everyone updated. We’ve ordered a few parts already - they’re pretty cheap. I will give this a try and let you know how it goes.

[2020-04-28 13:06] thompson318 commented on #30
In GitLab by @MattClarkson on Dec 13, 2018, 10:07

What did you get?

[2020-04-28 13:06] thompson318 commented on #30
In GitLab by @MattClarkson on Jan 8, 2019, 08:27

We should have a SNAPPY meeting, Thurs, 15:00. @EddieEdwards - can you present? If its done, we can close this ticket!

[2020-04-28 13:07] thompson318 commented on #30
In GitLab by @MattClarkson on Jan 15, 2019, 09:00

This is done. @EddieEdwards - can you document where this timer is stored, and how to use it.

(ie. it should be - "just plug it in").

Then we can close ticket.

[2020-04-28 13:07] thompson318 commented on #30
In GitLab by @EddieEdwards on Jan 15, 2019, 12:54

Ron has built a nice Arduino clock that works simply by plugging it in. He's putting another one together with an on/off switch. Here is a 240fps video (slowed down) from my iPhone. The iPhone averages some of the frames so perhaps the clock is actually updating faster - it's hard to tell.

Would be good to test it with a seriously fast camera som

[2020-04-28 13:07] thompson318 commented on #30
In GitLab by @EddieEdwards on Jan 15, 2019, 12:57

Timer(s) is(are) kept in Ron's office in the basement of CBH. Will start timing when switched on and can be reset (and also has an on/off switch).

[2020-04-28 13:07] thompson318 commented on #30
In GitLab by @EddieEdwards on Jan 15, 2019, 12:57

closed

[2020-04-28 13:07] #30 closed

[2020-04-28 13:07] thompson318 opened #31 "Investigate Slicer + PLUS + Docker"
In GitLab by @MattClarkson on Dec 5, 2018, 10:47

Slicer: https://www.slicer.org/
PLUS: https://plustoolkit.github.io/

Dockerise it?

[2020-04-28 13:07] thompson318 commented on #31
In GitLab by @MattClarkson on Dec 5, 2018, 10:47

moved to WEISS/admin#40

[2020-04-28 13:07] #31 closed

[2020-04-28 13:07] thompson318 opened #32 "Decide project structure for simple utility/test/demo apps"
In GitLab by @MattClarkson on Dec 10, 2018, 09:27

If we want people to quickly do research, this will (or should) end up with lots of small python scripts that are complete apps/demos/utilities.

So, do we have each in separate packages, so you only pip install the bare minimum you need, or for things that are related, like lots of small video processing apps, bundle them together some how.

[2020-04-28 13:07] thompson318 commented on #32
In GitLab by @MattClarkson on Dec 10, 2018, 09:43

@StephenThompson @ThomasDowrick  - your thoughts?

In the first instance I had scikit-surgeryvideolag, and I was just learning how to make an app. Now I have a second one, just to display april tags on the screen, with labels so you can see which ones are detected, and a key press just to grab video image and save to file.

Its small apps like the

[2020-04-28 13:07] thompson318 commented on #32
In GitLab by @MattClarkson on Dec 11, 2018, 12:48

Maybe we need to think about the end users.

Are they;

Surgeons, who'll expect some sort of GUI application specific to their
surgery.

Researchers, who I envisage would be best to use the libraries with
python, so they can shunt data around easily, and who may want to hack
at the libraries and create their own.

Developers, who'll assemble the l

[2020-04-28 13:07] thompson318 commented on #32
In GitLab by @MattClarkson on Dec 11, 2018, 12:50

Following discussion: Im not discussing the virtues of running a command line program versus running python then a script name.

Im just saying, if we have multiple small utility programs, do we bundle multiple programs into one package, or have multiple packages, each with one small app

The decision was for the former. Bundle them into sensible

[2020-04-28 13:07] thompson318 commented on #32
In GitLab by @MattClarkson on Dec 11, 2018, 12:50

closed

[2020-04-28 13:07] #32 closed

[2020-04-28 13:07] thompson318 opened #33 "Confirm commit format, whether it contains Issue number"
In GitLab by @MattClarkson on Dec 10, 2018, 09:39

The contributing guidelines for PythonTemplate and hence all derived projects says commit messages should start with

"Issue #<issue number>:"

This is not being followed. We need to confirm whether we want it (i believe we should), and then stick to it. We should confirm this before holding training sessions :-)

@StephenThompson @ThomasDowrick

[2020-04-28 13:07] thompson318 commented on #33
In GitLab by @MattClarkson on Dec 11, 2018, 12:37

Decided we should. Keep it in PythonTemplate, and all scikit-surgery projects.

[2020-04-28 13:07] thompson318 commented on #33
In GitLab by @MattClarkson on Dec 11, 2018, 12:37

closed

[2020-04-28 13:07] thompson318 commented on #33
In GitLab by @ThomasDowrick on Jan 3, 2019, 10:04

A bit late to this - but I agree we should keep the convention. Occasionally I will do a small change (fixing a typo etc.) that doesn't have an issue set up. Should we also have a standardised was of labelling these - 'Issue N/A:' or something like that?

[2020-04-28 13:07] thompson318 commented on #33
In GitLab by @MattClarkson on Jan 3, 2019, 10:07

No, I would prefer it to always have an Issue. So, in the case you mention, of something simple like a typo, I would do it as a separate commit, on the same branch as whatever issue I was actually working on.

If I spotted a separate bug, that warranted another issue, I would raise it as such.

[2020-04-28 13:08] #33 closed

[2020-04-28 13:08] thompson318 opened #34 "Where did pillow dependency come from."
In GitLab by @MattClarkson on Dec 10, 2018, 09:53

PythonTemplate and hence some of our packages to date have a dependency on pillow.

While we *may* need it for some derived projects, I don't imagine we need it for all projects? Especially if OpenCV is our go-to image format.

[2020-04-28 13:08] thompson318 commented on #34
In GitLab by @MattClarkson on Dec 13, 2018, 09:36

@StephenThompson @ThomasDowrick @TomDoel - any ideas where this came from?

[2020-04-28 13:08] thompson318 commented on #34
In GitLab by @StephenThompson on Dec 13, 2018, 09:41

Looks like a mistake to me. It only turns up in the setup.py. Unless one of the Toms comes back with something I'd just delete it.

[2020-04-28 13:08] thompson318 commented on #34
In GitLab by @TomDoel on Dec 13, 2018, 11:08

Yes, I'm pretty sure you can delete it.

I developed the packaging code on a different project that did require pillow, and I probably forgotten to remove the dependency when I transferred the code to `setup.py` (commit 531c06).

[2020-04-28 13:08] thompson318 commented on #34
In GitLab by @StephenThompson on Dec 13, 2018, 11:31

Thanks Tom, I've removed pillow from setup.py.

[2020-04-28 13:08] thompson318 commented on #34
In GitLab by @StephenThompson on Dec 13, 2018, 11:31

closed

[2020-04-28 13:08] #34 closed

[2020-04-28 13:08] thompson318 opened #35 "Buy new BlackMagic converters"
In GitLab by @MattClarkson on Dec 13, 2018, 09:37

Eddie, did you test the right hand BlackMagic converters for DaVinci Demo.

If they are broke, we need to give to @RonGaston and ask for replacements under warranty.

Can you chase this please? Thanks.

[2020-04-28 13:08] thompson318 commented on #35
In GitLab by @MattClarkson on Jan 8, 2019, 08:28

Did these get ordered? And arrive?

[2020-04-28 13:08] thompson318 commented on #35
In GitLab by @MattClarkson on Feb 26, 2019, 08:45

@EddieEdwards @RonGaston - was this done? Can I close this issue?

[2020-04-28 13:08] thompson318 commented on #35
In GitLab by @MattClarkson on Feb 27, 2019, 07:55

@EddieEdwards - do we have new Black Magic converters?

[2020-04-28 13:08] thompson318 commented on #35
In GitLab by @MattClarkson on Mar 1, 2019, 08:44

Can we fix it - Yes we can.

[2020-04-28 13:08] thompson318 commented on #35
In GitLab by @MattClarkson on Mar 1, 2019, 08:45

closed

[2020-04-28 13:08] #35 closed

[2020-04-28 13:08] thompson318 opened #36 "BK Ultrasound Package in Python"
In GitLab by @MattClarkson on Dec 19, 2018, 08:15

@ThomasDowrick @StephenThompson @TomVercauteren @RemiDelaunay  @DavidPerez\-Suarez

Im just opening this ticket to start a discussion: It may be worth writing a completely standalone, Python package, to communicate with BK Scanners. They all use the same TCP/IP protocol. Stuff thats baked into PLUS and NifTK is a bit hard to use on its own, but th

[2020-04-28 13:08] thompson318 commented on #36
In GitLab by @MattClarkson on Dec 19, 2018, 08:15

changed the description

[2020-04-28 13:08] thompson318 commented on #36
In GitLab by @TomVercauteren on Dec 20, 2018, 16:17

Sounds like a very interesting stand-alone project. It will however not help much with the [skullbasenavigation project](https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/skullbasenavigation) though as this requires tight integration with all the slicer calibration, etc.

As a side note, @DzhoshkunShakir recently released a standalone lib

[2020-04-28 13:09] thompson318 commented on #36
In GitLab by @StephenThompson on Jan 8, 2019, 12:16

Sounds worth doing. BK 5000 is already listed in Data capture on the SNAPPY wiki page. We should discuss priorities etc at our weekly meeting.

[2020-04-28 13:09] thompson318 commented on #36
In GitLab by @MattClarkson on Feb 26, 2019, 07:58

Tom D took this on, so, all further Issues can get discussed in: [scikit-surgerybk](https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY/scikit-surgerybk)

[2020-04-28 13:09] thompson318 commented on #36
In GitLab by @MattClarkson on Feb 26, 2019, 07:58

closed

[2020-04-28 13:09] #36 closed

[2020-04-28 13:09] thompson318 opened #37 "Rename scikit-surgeryoverlay to scikit-surgeryvtk?"
In GitLab by @MattClarkson on Dec 21, 2018, 23:05

If its all a bit vtk-centric, then a better name is scikit-surgeryvtk

then sub folders

* widgets
* models
* filters
* utils

[2020-04-28 13:09] thompson318 commented on #37
In GitLab by @MattClarkson on Dec 21, 2018, 23:05

changed title from **Rename {-project-} to scikit-surgeryvtk?** to **Rename {+scikit-surgeryoverlay+} to scikit-surgeryvtk?**

[2020-04-28 13:09] thompson318 commented on #37
In GitLab by @MattClarkson on Jan 3, 2019, 11:08

assigned to @ThomasDowrick

[2020-04-28 13:09] thompson318 commented on #37
In GitLab by @ThomasDowrick on Jan 8, 2019, 11:33

I've now renamed the project. Waiting for the CI pipeline to pass and will then update PyPI & readthedocs

[2020-04-28 13:09] thompson318 commented on #37
In GitLab by @ThomasDowrick on Jan 8, 2019, 15:49

reopened

[2020-04-28 13:09] thompson318 commented on #37
In GitLab by @MattClarkson on Jan 15, 2019, 08:59

closed

[2020-04-28 13:09] #37 closed

[2020-04-28 13:09] thompson318 opened #38 "In PythonTemplate, should lint be done in a separate environment?"
In GitLab by @MattClarkson on Dec 21, 2018, 17:03

On windows setting up a new environment takes significantly longer than Linux and Mac.

Is it necessary just for linting?

@TomDoel, @ThomasDowrick, @StephenThompson  - any reason why its like this?

[2020-04-28 13:09] thompson318 commented on #38
In GitLab by @MattClarkson on Dec 21, 2018, 23:06

changed title from **{-S-}hould lint be done in a separate environment?** to **{+In PythonTemplate, s+}hould lint be done in a separate environment?**

[2020-04-28 13:09] thompson318 commented on #38
In GitLab by @MattClarkson on Dec 21, 2018, 23:06

moved from WEISS/SoftwareRepositories/PythonTemplate#35

[2020-04-28 13:09] thompson318 commented on #38
In GitLab by @MattClarkson on Dec 22, 2018, 06:54

I came to the conclusion "yes" it should be in a separate virtualenv.

If you put pylint in with say py27, then someone else decides you dont need py27, they would probably edit tox.ini, and before long pylint would not run, or people would forget about it.

Best keep them all separate, as its safer in the long run.

[2020-04-28 13:09] thompson318 commented on #38
In GitLab by @MattClarkson on Dec 22, 2018, 06:54

closed

[2020-04-28 13:09] thompson318 commented on #38
In GitLab by @TomDoel on Dec 22, 2018, 10:28

Also makes it a bit clearer whether errors are caused by the tests or linting, and also allows you to invoke listing or tests separately using ‘tox -e lint’ or similar (useful for local development, say you’re fixing linting problems and don’t want to keep running the tests).

[2020-04-28 13:09] #38 closed

[2020-04-28 13:09] thompson318 opened #39 "Update all PyPi descriptions so that search page finds our packages, and there is a reasonable 1 line description."
In GitLab by @MattClarkson on Dec 23, 2018, 09:10

[2020-04-28 13:09] thompson318 commented on #39
In GitLab by @MattClarkson on Jan 15, 2019, 09:05

@ThomasDowrick - can you do this, when you have some low bandwidth time. I believe we just update setup.py in each project with a sensible one-line summary, and then wait until the next release. No need to force a new release to PyPi just for this.

[2020-04-28 13:10] thompson318 commented on #39
In GitLab by @MattClarkson on Jan 15, 2019, 09:06

assigned to @ThomasDowrick

[2020-04-28 13:10] thompson318 commented on #39
In GitLab by @ThomasDowrick on Jan 21, 2019, 10:55

Done, closing.

[2020-04-28 13:10] thompson318 commented on #39
In GitLab by @ThomasDowrick on Jan 21, 2019, 10:55

closed

[2020-04-28 13:10] thompson318 commented on #39
In GitLab by @ThomasDowrick on Jan 21, 2019, 10:58

I have opened https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/PythonTemplate/issues/38 to get the user to add a package description as part of the setup process in PythonTemplate.

[2020-04-28 13:10] #39 closed

[2020-04-28 13:10] thompson318 opened #40 "Gitlab badges/WEISS logo not showing up on RTD pages"
In GitLab by @ThomasDowrick on Jan 2, 2019, 14:33

For example:

https://scikit-surgerycore.readthedocs.io/en/latest/

https://scikit-surgeryvideoutils.readthedocs.io/en/latest/

Neither the WEISS logo nor the Gitlab badges are loaded properly:
![image](/uploads/1d2708c5bf9ead06b4bfb1bd7e69305c/image.png)

They show up OK on the PyPI pages (https://pypi.org/project/scikit-surgerycore/). I can't fi

[2020-04-28 13:10] thompson318 commented on #40
In GitLab by @MattClarkson on Jan 3, 2019, 11:12

These look ok to me for core and videoutils. What's the problem?

[2020-04-28 13:10] thompson318 commented on #40
In GitLab by @ThomasDowrick on Jan 3, 2019, 11:18

That's odd - when I go to https://scikit-surgeryvideoutils.readthedocs.io/en/latest/ I get this:
![image](/uploads/c33364e937effaaf4caada51873f19d0/image.png)

[2020-04-28 13:10] thompson318 commented on #40
In GitLab by @MattClarkson on Jan 3, 2019, 11:20

force browser refresh. Or just to be paranoid, try incognito mode which doesn't cache.

[2020-04-28 13:10] thompson318 commented on #40
In GitLab by @ThomasDowrick on Jan 3, 2019, 11:26

Looks like it is just something on my laptop - tried on Henry's and that works fine too.

Refresh/Incongito doesn't fix it, neither does trying a different browser, but as it's only for me I will close the issue.

[2020-04-28 13:10] thompson318 commented on #40
In GitLab by @ThomasDowrick on Jan 3, 2019, 11:26

closed

[2020-04-28 13:10] #40 closed

[2020-04-28 13:10] thompson318 opened #41 "Compiled C++ Wheels for PyPi - for CMakeCatchTemplate"
In GitLab by @MattClarkson on Jan 3, 2019, 15:54

I know Steve was battling with some of this, so, until he's back, and we can have an update, here's some thoughts.

* Steve was looking at ndicapi and how binary wheels might be produced, and he got the tracking to work, and I can't remember how far he got with pip-installable wheels.
* OpenCV has this project: https://github.com/skvark/opencv-pyth

[2020-04-28 13:10] thompson318 commented on #41
In GitLab by @ThomasDowrick on Jan 3, 2019, 17:51

Looks like this is Steve's most recent update on wheels:
https://weisslab.cs.ucl.ac.uk/WEISS/admin/issues/26#note_3075

I'll have a more in depth think about the rest of this tomorrow.

[2020-04-28 13:10] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 3, 2019, 18:31

changed title from **Compiled C++ Wheels for PyPi{-.-}** to **Compiled C++ Wheels for PyPi{+ - for CMakeCatchTemplate+}**

[2020-04-28 13:10] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 3, 2019, 18:31

Thanks Tom. @Steve - looks good.

[2020-04-28 13:10] thompson318 commented on #41
In GitLab by @StephenThompson on Jan 8, 2019, 09:23

I've got manylinux working via docker on travis and Windows with appveyor. I haven't started battling with mac yet.

[2020-04-28 13:10] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 8, 2019, 09:24

Might be worth looking at: https://github.com/matthew-brett/multibuild

which is a Multibuild for Linux and Mac, that for the Linux part uses manylinux.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 15, 2019, 08:59

FYI - On CMakeCatchTemplate Ive got Mac and Windows builds, but for some reason, docker wont start. (branch 44).

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @StephenThompson on Jan 15, 2019, 09:19

I've got binary wheels for ndicapi onto pypi now, via
https://github.com/thompson318/ndicapi-wheels for linux and mac
and
https://github.com/thompson318/ndicapi for Windows.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 15, 2019, 09:20

cool. Would you mind digging out a Linux build log to see if I can spot any differences. I've raised a support request with travis-ci.com, but Im lost.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @StephenThompson on Jan 15, 2019, 09:22

Can you access this ...

https://travis-ci.com/thompson318/ndicapi-wheels/builds/96901737

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 15, 2019, 09:24

Yes. Can you access:

https://travis-ci.com/MattClarkson/CMakeCatchTemplate

Im jealous of your green dashboard!

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @StephenThompson on Jan 15, 2019, 09:30

At the top of .travis.yml, try changing the python version from 3.5 to 3.6. 3.5 did not work for me either.
As I understand it this is only the python version used for building etc, it is not the version that the wheel gets built for, which is set further down.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 15, 2019, 09:35

Thanks. Im off to RSG now.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 28, 2019, 08:18

Closing this, as the basic functionality that I had intended is implemented.

What we need now is a good example to actually use the CMakeCatchTemplate, and get our second (after ndicapi) wheel up and running.

[2020-04-28 13:11] thompson318 commented on #41
In GitLab by @MattClarkson on Jan 28, 2019, 08:18

closed

[2020-04-28 13:11] #41 closed

[2020-04-28 13:11] thompson318 opened #42 "Update ardavin to use scikit-surgery"
In GitLab by @MattClarkson on Jan 15, 2019, 09:02

It should be possible now to get ardavin working on scikit-surgery<whatever>

@ThomasDowrick - can you document the remaning steps, and we can decide what to do. I'd like to get a proper deployment going, and start working with clinicians at RFH. This would be a good way to get SNAPPY and you into surgery.

[2020-04-28 13:11] thompson318 commented on #42
In GitLab by @ThomasDowrick on Jan 15, 2019, 09:20

For ardavin:

* Port existing code to work with scikit-surgery functions/classes.
* Update qt GUI where needed.

Previously we had discussed combining ardavin and Smart Liver into the same application, as they both use a subset of the same features - is this still the plan?

[2020-04-28 13:11] thompson318 commented on #42
In GitLab by @MattClarkson on Jan 28, 2019, 08:17

Ah. Well remembered - lets just refactor the existing app, tidy it up, and see where we are. People can always use the refactored ardavin as a starting point for their own apps.

As you've created scikit-surgeryardavinci, I'll close this ticket.

[2020-04-28 13:11] thompson318 commented on #42
In GitLab by @MattClarkson on Jan 28, 2019, 08:17

closed

[2020-04-28 13:11] #42 closed

[2020-04-28 13:11] thompson318 opened #43 "Update BARD to use scikit-surgery"
In GitLab by @MattClarkson on Jan 15, 2019, 09:04

It would be good to get [BARD](https://github.com/MattClarkson/BARD) converted to Python.

@StephenThompson @ThomasDowrick @MianAhmad - discuss

Log the steps here. Im thinking of scikit-surgerydemo perhaps, or something more descriptive, at the risk of sounding too long.

[2020-04-28 13:11] thompson318 commented on #43
In GitLab by @StephenThompson on Jan 15, 2019, 09:14

Before we replicate BARD, we should also ask ourselves again what we're going to use it for, then check that BARD is still what we want. Something like.
Uses:
1: Tutorials on augmented reality in surgey
2: Demos (public engagement) of augmented reality in surgery.
3: others?

Learning outcomes from tutorial:
1: able to do a point based calibrat

[2020-04-28 13:11] thompson318 commented on #43
In GitLab by @MattClarkson on Feb 15, 2019, 19:44

can close this. Mian has a placeholder under his admin page, and the BARD Python project is underway.

[2020-04-28 13:11] thompson318 commented on #43
In GitLab by @MattClarkson on Feb 15, 2019, 19:44

can close this. Mian has a placeholder under his admin page, and the BARD Python project is underway.

[2020-04-28 13:12] thompson318 commented on #43
In GitLab by @MattClarkson on Feb 26, 2019, 08:44

closed

[2020-04-28 13:12] #43 closed

[2020-04-28 13:12] thompson318 opened #44 "Ensure All PyPi packages have a Feature List"
In GitLab by @MattClarkson on Jan 29, 2019, 09:10

For the grand opening on Thursday, it would be good, in my opinion, if all scikit-surgery packages on PyPi had a Feature List, otherwise, the landing page on ReadTheDocs or PyPi looks empty, and people won't feel inclined to join in.

So, in scikit-surgeryimage, i just added:

[code]

@StephenThompson @ThomasDowrick

[2020-04-28 13:12] thompson318 commented on #44
In GitLab by @ThomasDowrick on Feb 5, 2019, 11:06

Closing, as this has been done for core/utils/vtk/image (will need to be kept up to date as we go along....)

[2020-04-28 13:12] thompson318 commented on #44
In GitLab by @ThomasDowrick on Feb 5, 2019, 11:06

closed

[2020-04-28 13:12] #44 closed

[2020-04-28 13:12] thompson318 opened #45 "Modify default Sphinx page"
In GitLab by @ThomasDowrick on Feb 5, 2019, 08:35

All of the RTD pages have two entries in the table of contents, requirements, and a PyCharm guide:
![image](/uploads/cc9c064c747b138c9e250f8975c593de/image.png)

I think we should remove these, as they don't link to anything useful. Ideally, it should be showing a list of Module classes/functions etc.
@MattClarkson @StephenThompson

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @MattClarkson on Feb 5, 2019, 08:38

Hold on. I'd prefer a list of the modules/classes/functions. Tom Doel originally put the PyCharm bit on the front, which got factored into a separate page, which is fair enough. But most people wont read that page, as you can google for other pages on how to use PyCharm. But we SHOULD/MUST have a requirements page. Steve put effort into that.

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @ThomasDowrick on Feb 5, 2019, 08:49

At the moment, the requirements pages don't have anything useful on them:

https://scikit-surgeryvtk.readthedocs.io/en/latest/requirements.html
https://scikit-surgeryutils.readthedocs.io/en/latest/requirements.html

Should we be linking to this page instead? https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY/wikis/home

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @StephenThompson on Feb 5, 2019, 09:30

PyCharm can go as far as I'm concerned. But requirements should stay in the template. If you don't want to use it for a particular project (eg surgeryvtk) then just delete it from that project. I used it (abit) for nditracker and will encourage its use it other projects.

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @ThomasDowrick on Feb 5, 2019, 11:01

mentioned in merge request WEISS/SoftwareRepositories/PythonTemplate!19

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @ThomasDowrick on Feb 5, 2019, 11:01

closed via commit WEISS/SoftwareRepositories/PythonTemplate@76986c51db8f24c4f19118bf6a7488df160dec94

[2020-04-28 13:12] thompson318 commented on #45
In GitLab by @ThomasDowrick on Feb 5, 2019, 11:01

Ok, have removed the PyCharm page from PythonTemplate, will leave everything else as is and update individual repositores where needed.

[2020-04-28 13:12] #45 closed

[2020-04-28 13:12] thompson318 opened #46 "Decide on date/format for next SNAPPY Workshop"
In GitLab by @ThomasDowrick on Feb 28, 2019, 15:51

@StephenThompson @ThomasDowrick

[2020-04-28 13:12] thompson318 commented on #46
In GitLab by @MattClarkson on Mar 1, 2019, 08:46

Suggestions discussed were

* Focus on Python Template
* Either get people to start their own library, or have workshop, all contributing code to scikit-surgerycore or something.

[2020-04-28 13:12] thompson318 commented on #46
In GitLab by @StephenThompson on Mar 7, 2019, 13:40

There seems to be a lot of pre MICCAI work going on among our intended audience. The deadline is currently the 2nd of April. Should we wait til after that, or should we bring it forward?

[2020-04-28 13:12] thompson318 commented on #46
In GitLab by @MattClarkson on Mar 7, 2019, 13:43

happy to wait.

[2020-04-28 13:12] thompson318 commented on #46
In GitLab by @MattClarkson on May 15, 2019, 10:08

Can someone remind me of date? Then we can close.

[2020-04-28 13:12] thompson318 commented on #46
In GitLab by @StephenThompson on May 15, 2019, 11:26

22nd May, I'm going to send round an invite this morning.

[2020-04-28 13:13] thompson318 commented on #46
In GitLab by @StephenThompson on May 15, 2019, 11:26

closed

[2020-04-28 13:13] #46 closed

[2020-04-28 13:13] thompson318 opened #47 "XNAT - what format for IGI data?"
In GitLab by @MattClarkson on Mar 5, 2019, 13:37

Can we start a discussion of what formats/protocols/requirements we need in order to upload sessions of IGI data to an XNAT server. This would be relevant to a variety of projects, e.g. SmartLiver, Skull Based Navigation, dvLogger etc.
Some ideas and implementations have been captured in various projects, probably inconsistently.

1. PLUS uses .mha

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 7, 2019, 16:19

changed the description

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @JonathanShapey on Mar 7, 2019, 16:24

Please see this gitlab page for details regarding data formats used in the SkullBaseNavigation project

https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/skullbasenavigation/issues/18

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @TomVercauteren on Mar 12, 2019, 19:46

That's a tough question. While the pre-operative data part is rather straightforward, I am not sure how to best handle intra-operative data in general.

One of the key elements is to make sure we have access to synchronised data, stemming from multiple sources. This should be available both for real-time purposes but also for post-processing ana

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 13, 2019, 09:28

Thanks @TomVercauteren, very good points. There is a DICOM standard for surgery, and Heinz Lemke runs a workgroup each year at CARS, but i don't believe anything official ha s been produced. Its been talked about for years. And even if it was, it might be too industrial and heavy weight.

Im cc'ing @GeorgeDwyer for his opinion, and I'll revisit th

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 13, 2019, 09:31

@EddieEdwards in the meantime can you summarise all that comes out of DaVinci logger. cc'ing @DanailStoyanov for leadership and inspiration ;-)

@EddieEdwards - I plan to get hold of Tom Doel and ask what a vanilla XNAT can upload. It might be contingent on file extensions. So, one option is to just dump a session from the dvLogger into a big zip

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @GeorgeDwyer on Mar 13, 2019, 10:19

I've found ROS bags pretty useful for quickly collecting data, in terms of synchronisation it just takes a time stamp when it (rosbag record) receives the message (a lot of messages also contain a timestamp of when they were created). So it won't do any actual synchronisation for you but if you're recording a sequence with a couple imaging devices

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @DzhoshkunShakir on Mar 13, 2019, 10:30

We haven't done much with wrapping video files into DICOM. It was an idea we had for storing endoscopic videos. For the record, by endoscopic video, I mean HEVC-encoded video in MP4 containers. From the GS perspective, it'd be interesting to synchronise endoscopic video with EM tracking data (both coming primarily from Leuven), with the latter

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @ThomasDowrick on Mar 13, 2019, 10:46

How useful/practical are rosbags if the main application doesn't use ROS as standard?

For example, in the Skull Navigation project, where we are sending OpenIGTLink messages to Slicer, we would have run a ROS master node and an instance of ROS-OpenIGTLink bridge, send the data back out over OpenIGTLink and then rosbag it. My intitution is that t

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @StephenThompson on Mar 13, 2019, 14:35

It's going to be extremely hard to find specific formats that meet the needs of all users, and no one else has managed it.

Could we just come up with a standard "SNAPPY" header that contains information on the software (+version) used to record the data and the software (+version) that can be used to play it back, together with usual  header s

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 14, 2019, 08:48

cc'ing @TomDoel - cos Im sure he'll want to be included ;-)

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 14, 2019, 08:53

Questions for Tom Doel:

1. Is XNAT suitable for Image Guided Surgery data? I believe it was primarily intended for DICOM/NifTI etc, but can be coerced to accept other formats, and used as a generic data store. Correct me if Im wrong.

If Q1 is 'yes', then:

2. What file formats are supported?
3. What determines which file formats? Is it easy to e

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 14, 2019, 08:54

Questions for @MirekJanatka @EddieEdwards:

Please can you document here the file/directory structure and all file format extensions that come out of dvLogger.

Can you do this this week? Thanks.

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @EddieEdwards on Mar 14, 2019, 13:37

Hi Matt and everyone else.

Thanks for getting the conversation going on this issue.

The dVLogger is a pretty good model for collection of intraoperative data and works as follows.

All data is streamed to an encrypted (VeraCrypt) volume on an external USB drive. The box itself has two inputs each for SDI, HDMI, VGA and audio 1/4" jack L/R as wel

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 14, 2019, 16:06

For tracking data in general:

* csv file per tracked tool
* ASCI not binary
* 1 line per frame containing

[code]

* timestamp = default python time() returns seconds since epoch, fractions of second after decimal place
* w,x,y,z = quaternion
* t_x, t_y, t_z = translation
* then any other vendor specific fields

Note: I haven't compared this with

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @TomVercauteren on Mar 14, 2019, 16:41

@EddieEdwards Many thanks for the feedback which is super useful.

@GeorgeDwyer Here is the feedback from Leuven on using ROS for recording stereo:

@MattClarkson I would advise against simple csv as it will not be easy to upgrade / modify. Protobuf, JSON or similar would probably be better if you want to implement your own solution.

[2020-04-28 13:13] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 15, 2019, 08:52

All good points indeed!

Re: csv, i was essentially hoping that just tracking data wouldn't need upgrading. If I was going more complex, say JSON, like you suggest, then maybe one could put multiple tools in one file. But basically, you need something you can continually add too, and read serially. i.e. you dont want to have to read the whole bloc

[2020-04-28 13:14] thompson318 commented on #47
In GitLab by @TomVercauteren on Mar 15, 2019, 14:00

[HDF5](https://portal.hdfgroup.org/display/HDF5/HDF5) would be in the usual contender list of flexible file formats but I am not sure it makes much sense for videos.

Anyway, reading on how ROS2 plans to address this issue is really interesting: https://github.com/ros2/design/pull/160

The idea is that the API is powerful enough to easily provid

[2020-04-28 13:14] thompson318 commented on #47
In GitLab by @TomVercauteren on Mar 18, 2019, 11:04

For the record, DICOM RTV / DICOM-RTV (Real-Time Video) is apparently progressing well:
- http://dicom.nema.org/Dicom/News/Current/docs/sups/sup202.pdf
- https://b-com.com/en/news/world-first-achievement-bcom-and-rennes-university-hospital

[2020-04-28 13:14] thompson318 commented on #47
In GitLab by @DzhoshkunShakir on Mar 19, 2019, 09:20

Re: csv + speed

In one project we ended up using a combination of protobuf and NumPy, because using merely protobuf was limiting in terms of performance.

Background: protobuf has a type called `bytes` for supporting arbitrary-length binary data. So when your data is just a sequence of bytes represented by this type, protobuf can read data off

[2020-04-28 13:14] thompson318 commented on #47
In GitLab by @MattClarkson on Mar 19, 2019, 10:47

Thanks everyone. Im just finishing a lecture course, then I'll get time to digest.

[2020-04-28 13:14] thompson318 opened #48 "What requirements for Recording Data and Playback of Data"
In GitLab by @MattClarkson on Mar 7, 2019, 16:24

Similar to the #47 which is concerned with storage on a departmental server, (i.e. good curation of data), there is also the issue of how we record data, and how do we allow playback in a nice fashion, so we can re-watch sessions of data.

So, if anyone had ideas of what to implement in SNAPPY I'd like to hear them. Needs to be as simple as possibl

[2020-04-28 13:14] thompson318 commented on #48
In GitLab by @MattClarkson on Mar 7, 2019, 16:27

@SimoneFoti

[2020-04-28 13:14] thompson318 commented on #48
In GitLab by @ThomasDowrick on Mar 12, 2019, 08:03

There are separate considerations as to what is the best format for each individual source, and then for how we package them all together. My thoughts:

**Individual sources**

Video - I would say a fixed rate format, at least in the first instance, as this will be easier to implement, and probably to use. If we wanted variable frame rate we coul

[2020-04-28 13:14] thompson318 opened #49 "Footswitch in Python"
In GitLab by @MattClarkson on Nov 20, 2018, 12:39

Guofang and Moustafa are testing camera calibration with a footswitch. Im not yet aware of any way to do this in Python?

If anyone has time for some market research? Might be something useful to the Wider SNAPPY platform, but listing it here for now.

@BongjinKoo @GuofangXiao @StephenThompson

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 20, 2018, 12:40

changed title from **Footswitch** to **Footswitch{+ in Python+}**

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 20, 2018, 12:40

@ThomasDowrick - just in case you can contribute to SmartLiver

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @ThomasDowrick on Nov 20, 2018, 13:34

By footswitch you mean just having a pedal that enables/starts the calibration?

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 20, 2018, 15:00

yes, downstairs we have a 3 button one, but in practice have never used all of them.

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 21, 2018, 04:50

removed milestone

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on May 15, 2019, 10:32

moved from COMPASS/projects/SmartLiver-i4i#6

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 13, 2019, 07:55

FYI - we did this in SmartLiver. We bought medical grade footswitch from https://www.herga.com/ and you can ask for specific key bindings. Then its just a case of using Qt/VTK/whatever to respond to key events, e.g. F6, F7, F8.

[2020-04-28 13:14] thompson318 commented on #49
In GitLab by @MattClarkson on Nov 13, 2019, 07:55

closed

[2020-04-28 13:14] #49 closed

[2020-04-28 13:14] thompson318 opened #50 "Rename SNAPPY?"
In GitLab by @StephenThompson on Feb 5, 2020, 14:50

This is from one of our IPCAI reviewers. How important is the name? Any ideas?

"The name of the package itself might be confusing for programmers accustomed to using Google's open source Snappy compression library. Info about this SNAPPY is actually difficult to find through your regular search engine."

@MattClarkson , @ThomasDowrick , @MianAh

[2020-04-28 13:14] thompson318 commented on #50
In GitLab by @MattClarkson on Feb 5, 2020, 18:12

I don't mind at all..... er .... but Im useless at branding.

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @ThomasDowrick on Feb 6, 2020, 20:50

We could just use the scikit-surgery name instead of SNAPPY? It is more informative anyway and we should avoid clashing with existing projects if we're going to start publicising more widely.

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @MattClarkson on Feb 7, 2020, 06:16

That was the best I thought of on the way home. We are already using up that namespace anyway.

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @MattClarkson on Mar 16, 2020, 11:17

I like the idea of scikit-surgery, because we have used that for all pypi libraries, so that is our defacto externally facing name. It also indicates the application area (surgery), and the naming convention tells us about its use of standard python libraries.

But it sure sounds more ugly than SNAPPY.

But if we are avoiding SNAPPY due to name cl

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @MianAhmad on Mar 16, 2020, 11:23

Thats what I was thinking, if we dont like scikit-surgery then what about all other packages which starts with scikit-?

Scikit-surgery doesn't look to bad to me. Also there may not be many options available of one word name.

SNAPPY as one name (as acronym) is nice but when it is written in full then it is not too nice in my view.

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @StephenThompson on Mar 17, 2020, 10:17

[snappy_ipcai_diff.pdf](/uploads/ecdf98ca0b564dbc57220768e7e15346/snappy_ipcai_diff.pdf)

I've done a minimal change to the snappy paper, just doing a find and replace on SNAPPY to scikit-surgery where relevant. It seems feasible. I don't know if IJCARS will allow us to do it, but I don't think there's any change to scientific content so I imag

[2020-04-28 13:15] thompson318 commented on #50
In GitLab by @MianAhmad on Mar 17, 2020, 11:07

I believe it would be nice to mention that SNAPPY was the internal code name of the project.

[2020-04-28 13:15] thompson318 opened #51 "Move SNAPPY libraries to github"
In GitLab by @StephenThompson on Feb 5, 2020, 14:53

This is from one of our IPCAI reviewers. Could we move the core opensource libaries to github to make it easier for people to contribute?

"Gitlab isolates your efforts from the rest of the world. Currently, it does not even seem possible to sign up at https://weisslab.cs.ucl.ac.uk/. Hosting on github would increase visibility and willingness of

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 5, 2020, 15:38

Seems a fair point.... If we want people outside UCL to use it we need to have a GitHub presence.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @MianAhmad on Feb 5, 2020, 15:58

Will we need to set pipeline with github?

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 5, 2020, 16:46

If we only mirror to GitHub then no, but if we used GitHub as the main host we'd have to fiddle around with it.

It seems it is possible to use a gitlab runner for GitHub projects https://docs.gitlab.com/ee/ci/ci_cd_for_external_repos/github_integration.html but it probably isn't a good idea to use our own servers for testing a publicly hosted pro

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @MattClarkson on Feb 5, 2020, 18:01

Im Happy to move to Github. Just need to discuss testing.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 6, 2020, 20:56

I gathered some opinion at RSLondon today about what we could do with this. The consensus seemed to be to that we could move to GitHub and still use our existing runners for testing. People could then fork the repo to make changes, and we have control over what is merged back into our branch.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 7, 2020, 09:14

Any libraries that don't use VTK/Qt/GPU could use Travis or GitHub CI, but I think doing a mix and match approach is probably more hassle than just keeping everything on our own runners.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @StephenThompson on Feb 11, 2020, 13:55

Sounds like we all agree in principal? We should aim to get this done before publication of the IPCAI paper. I don't think there's time to do it before I resubmit on Thursday, but hopefully I can slip it into the paper once it hits the editors.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 11, 2020, 13:58

I looked into it and we can follow [this](https://docs.gitlab.com/ee/ci/ci_cd_for_external_repos/) guide to set up the GitHub<->GitLab link. I think we'll have to modify our gitlab configuration on the server, as if you try and do it now the 'CI/CD For External Repo' option isn't there.

![image](/uploads/82e5ece864de38a54bd2faecc2523816/image.pn

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @MattClarkson on Feb 11, 2020, 13:59

hold on. Is it possible we'd need the enterprise version? i.e. pay for it. We only have the community free version? Or did I miss something?

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @ThomasDowrick on Feb 11, 2020, 14:10

er..... yes. It seems you're right.

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @MianAhmad on Mar 5, 2020, 10:22

I wonder if github education program is equivalent to enterprise github. I am using it to host many private repos then the free tier offer. It is offered  for two years and students and staff has to fill the form on this page [https://education.github.com/discount_requests/new](https://education.github.com/discount_requests/new).

The following image

[2020-04-28 13:15] thompson318 commented on #51
In GitLab by @StephenThompson on Mar 16, 2020, 10:28

I want to get this sorted before the Snappy IPCAI paper get's published, so that the links in it are right. I've just gone through the paper and the only link to weisslab is the wiki, (https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY). So my main priority would be to migrate the wiki to github. We could use UCL's github group, so s

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @MattClarkson on Mar 16, 2020, 10:32

yep.... or the alternative UCL/scikit-surgery?

Can you remind me what we decided about renaming?

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @StephenThompson on Mar 16, 2020, 10:37

I don't think we came to a decision on renaming. I didn't think scikit-surgery was catchy enough, though it is more searchable. From a practical point of view changing the name would be a substantial edit of the paper, as opposed to changing a link.

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @ThomasDowrick on Mar 16, 2020, 10:52

True that scikit-surgery isn't super catchy, but if we're agreed that we shouldn't use SNAPPY too much publically because it clashes with other names, then we should probably change it sooner rather than later. Given that we haven't thought of any better names in the 2ish years we've been working on it, then I'd say we're unlikely to think of any

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @StephenThompson on Mar 16, 2020, 11:08

Let me try doing a find and replace on the paper, I'll just change SNAPPY to to scikit-surgery and see what it does. I will try it out tomorrow. We should move discussion on renaming back to issue #50

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @StephenThompson on Apr 3, 2020, 11:33

UCL appears to have a Azure account, so could use that for CI from github rather than travis or appveyor?

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @MattClarkson on Apr 3, 2020, 11:38

we can certainly host on github.com/UCL/<whatever>

but Im not sure what Azure provides ... is it Windows/Linux/Mac. The only reason Im suggesting Travis/Appveyor, is Travis=Linux/Mac and Appveyor=Windows, but I think travis now has all 3.

@ThomasDowrick - can you clarify?

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @StephenThompson on Apr 3, 2020, 11:45

I googled "tox azure" and got this. It implies it covers our target platforms and can be set up to use tox more easily than travis at least, but I really don't know.

https://github.com/tox-dev/azure-pipelines-template

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @MattClarkson on Apr 3, 2020, 11:46

I don't know if @ThomasDowrick is available (Childcare), but you could as on RITS slack channel. Jonathan Cooper would know.

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @ThomasDowrick on Apr 3, 2020, 12:28

I haven't used the Azure stuff much - I think asking RITS might be a good idea as I know they have used it a bit and can give some feedback on it (Some of it wasn't great if I recall...)

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @ThomasDowrick on Apr 3, 2020, 12:30

I think we can @DavidPerez-Suarez @JonathanCooper - have either of you used Azure Pipelines for CI before?

In brief, we're moving some of our repos from here to GitHub and are thinking about where to host CI. Since UCL has an Azure service/account, there might be some additional features we get?

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @JonathanCooper on Apr 6, 2020, 09:28

Mose was looking into CI options along with David, so I'll defer to them!

[2020-04-28 13:16] thompson318 commented on #51
In GitLab by @MianAhmad on Apr 6, 2020, 10:19

So I did some search on weekend and most of the cloud dont provide Mac VM because according to the Apple license Mac OS can only be installed on Apple hardware. Since cloud uses all VM's therefore cant give you apple. (May be some illegal ways are available to install apple on VM but not legal).

Some clouds put a mac hardware to provide mac OS to cus

[2020-04-30 07:51] thompson318 commented on #51
I've moved the wiki from
https://weisslab.cs.ucl.ac.uk/WEISS/PlatformManagement/SNAPPY to https://github.com/UCL/scikit-surgery/wiki
The platform related issues have moved with it.

I've also moved the minimal code from
https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY/scikit-surgery
to https://github.com/UCL/scikit-surgery/ so now we have code and wiki in the same place. The second

[2020-04-30 15:00] MattClarkson opened #52 "Dev Meeting - 2020-04-30"
* [x] Tom - get deliverable for Hololens project.
* [x] Tom - Work out if Github/Azure worth it for testing, at least scikit-surgerycore.
* [x] Steve - Work out simplest/most pragmatic way of getting migration to github to be "done"
* [ ] Steve - put travis config into PythonTemplate

[2020-05-04 10:30] tdowrick commented on #51
**Moving scikit-surgerycore**

- [x] Files/git history moved
- [x] Issues moved
- [x] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Test deploy to PyPI

[2020-05-04 10:30] tdowrick commented on #51
@thompson318 @MattClarkson  should we do something like the above for each repo when we move it? Any other checkboxes to add?

[2020-05-04 11:28] thompson318 commented on #51
Looks reasonable, thanks. Could add one to check that read the docs is working, and maybe that all relevant links have been changed to github.

[2020-05-05 06:59] tdowrick commented on #51
**Moving scikit-surgeryimage**

- [x] Files/git history moved
- [x] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Test deploy to PyPI
- [x] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab

Haven't got GitHub CI to work on Linux yet.

[2020-05-07 15:47] tdowrick commented on #51
**scikit-surgerynditracker**

- [x] Files/git history moved
- [x] Issues moved
- [x] CI working for Mac/Windows/Linux, using GitHub Actions
- [x] Old CI files removed
- [x] Badges updated
- [x] Test deploy to PyPI
- [x] Update read the docs
- [x] Relevant links changed to point to GitHub rather than GitLab
- [x] Changes merged

[2020-05-07 16:00] tdowrick commented on #51
**scikit-surgeryarucotracker**

- [x] Files/git history moved
- [x] Issues moved
- [x] CI working for Mac/Windows/Linux, using GitHub Actions
- [x] Old CI files removed
- [x] Badges updated
- [x] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [x] Update read the docs
- [x] Relevant links changed to point to GitHub rather than GitLab

[2020-05-11 07:08] thompson318 commented on #51
scikit-surgerybard

- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-05-11 07:10] thompson318 commented on #51
scikit-surgerybard

- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-05-11 17:16] tomdoel commented on #47
I realised we hadn't recorded the answers to these questions:

Yes, if you're just looking for a secure structured file storage where you group your data by subject/session (perhaps alongside DICOM/NIFTI data) and where you want data upload/download and perhaps some offline processing, then XNAT is fine for this purpose.

If you want realtime processing or want to play or edit videos on the websit

[2020-05-14 13:46] MattClarkson commented on #2
@thompson318 @tdowrick - close?

[2020-05-14 13:49] thompson318 commented on #2
Yes

[2020-05-14 14:15] MattClarkson commented on #52
* Hololens - difficult to see "generic platform" functions that would be widely shared.
* Decision to use Github-Actions.
* Migration to Github mostly done - need vtk, utils, then other odds and ends.
* Decide to put Python Template on Github.

[2020-05-14 14:15] #52 closed

[2020-05-14 14:53] MattClarkson opened #53 "Dev Meeting: 2020-5-14"
Discuss:
* [x] Discuss IPCAI - what is presented? Important to get migration to Github done.
* [x] Summer school - sort calibration library first, then think about projects that can be done remotely. So, try finish off bits and bobs this week, so we can work on summer school project.
* [ ] Journal papers - calibration one with SmartLiver, User Eval one with Steve etc. A bit dependent on getting ne

[2020-05-14 14:54] #2 closed

[2020-05-14 14:54] MattClarkson commented on #3
Not needed.

[2020-05-14 14:54] #3 closed

[2020-05-14 14:54] #4 closed

[2020-05-20 07:41] thompson318 commented on #51
sciikit-surgeryvtk
- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-05-20 08:03] tdowrick commented on #51
I can look at the CI for vtk - can you make me an admin on the repo?

[2020-05-20 08:35] thompson318 commented on #51
I'm just transfering files/issues. I think it will take about two hours.

[2020-05-20 09:21] thompson318 commented on #51
OK, you should have admin access now.

[2020-05-20 16:03] tdowrick commented on #51
Thanks. CI definitely more fiddly with this library, but I'll keep working on it.

[2020-05-20 16:08] JonathanCooper commented on #51
Hey folks!  Just wanted to flag to you that you are tagging the wrong Jonathan Cooper!

[2020-05-28 14:58] tdowrick opened #54 "Dev meeting: 28/05/2020"
**Repos still to move from WeissLab**

- Speech
- tensorflow
- davinici
- vtk (ongoing) - Tom doing CI
- utils
- gpucpp

**Private runners on GitHub for GPU?**
Tom to ask RSDG if there is any current facility for this.

**Testing against Python 3.8**
GitHub Actions allow 'acceptable failure' of test runs, so we can add testing for Python 3.8 but mark it as non essential, as we know that some repos

[2020-06-02 13:17] tdowrick commented on #54
I've hit a bit of a wall with the surgeryvtk CI (see https://github.com/UCL/scikit-surgeryvtk/issues/136 for details). Will put it to one side for a few days and can discuss in the next metting.

[2020-06-05 06:24] #54 closed

[2020-06-11 15:20] tdowrick opened #56 "Dev meeting 11/06/2020"
Scikit-surgeryvtk CI still not working on GitHub, Tom still investigating.
[scikit-surgerysurfacematch](https://github.com/UCL/scikit-surgerysurfacematch) created.
**To do**
- [ ] BARD stuff - issues raised on MPHY0026 Weisslab

[2020-06-11 16:34] tdowrick commented on #56
@MattClarkson @thompson318

So I think I've got to the bottom of the vtk CI stuff...... and it is PySide2 related.

[This](https://travis-ci.com/github/UCL/snappysonic/builds/162706478) travis build for Snappysonic suceeded a month ago using PySide 5.14.2.1, but when I cloned the branch [it failed](https://travis-ci.com/github/UCL/snappysonic/builds/170891413), having used the latest PySide versio

[2020-06-12 07:51] tdowrick commented on #56
Also I found that there is a recommended way to use tox if needed, which avoids the problem we were having with different python versions:

https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#running-tests-with-tox

[2020-06-15 11:07] tdowrick commented on #51
**scikit-surgeryspeech**

- [x] Files/git history moved
- [x] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-06-15 11:12] tdowrick commented on #51
For reference, [this](https://github.com/piceaTech/node-gitlab-2-github) is the tool we've been using to transfer issues between Gitlab/Github. Runs relateively slowly (can take several hours) but is simple enough to run.

[2020-06-15 12:05] tdowrick commented on #51
**scikit-surgerytf**

- [x] Files/git history moved
- [x] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [x] Old CI files removed
- [x] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-06-16 13:57] tdowrick commented on #51
@thompson318 Have you been your process for removing project from weisslab? Are you archiving them or just deleting?

[2020-06-16 14:01] thompson318 commented on #51
I haven't been doing either yet, I just changed the readme to say "XXX had moved to github please visit <link>". Then disabling everything in the settings. Have a look at surgerycore on weisslab for an example. So if someone is looking for it on weisslab they will still be able to find it and get redirected. I didn't want them to just disappear from weisslab straight away.

[2020-06-16 14:06] tdowrick commented on #51
Thanks - I'll do the same.

[2020-06-18 15:16] tdowrick opened #57 "Dev meeting 18/06/2020"
**Steve**
Working on registration tutorial
IPCAI next week

**Tom**
surgeryspeech moved
surgerytf move in progress (mac CI problems - GPU related?)
surgerytf move in progress (mac CI problems)

**General**
There is an issue when setting the camera matrix with vtk, which can produce an offset that isn't easy to get rid of. This also affects being able to save an image with the overlay turned on.

M

[2020-06-18 15:16] #56 closed

[2020-06-18 15:16] #53 closed

[2020-06-22 06:00] tdowrick commented on #51
**scikit-surgerybk**

- [x] Files/git history moved
- [x] Issues moved
- [x] CI working for Windows/Linux, using GitHub Actions. (Skipping Mac CI, as there are issues with GPU)
- [x] Old CI files removed
- [x] Badges updated
- [x] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [x] Update read the docs
- [x] Relevant links changed to point to GitHub rather than GitLab
- [x] Changes merged

[2020-06-22 06:02] tdowrick commented on #51
I have finished surgeryvtk and surgerytf. In both cases there were issues with getting the Mac CI to run correctly. We decided it was better to skip these, as Linux/Windows CI working and we have been able to test locally on Mac, rather than spend time trying to resolve.

[2020-06-22 08:33] tdowrick opened #58 "Move PythonTemplate to GitHub"
I think that we decided that we want to move PythonTemplate to GitHub (correct?)

Are we going to move to GitHub Actions as the default CI?
Should we keep the GitLab CI template in, for any private projects that we want to keep on GitLab?
We should add github.com/UCL as an option for `repository_server/repository_path`
Anything else?

Can discuss in more detail at the next SNAPPY meeting.

@mianas

[2020-06-22 09:10] thompson318 commented on #58
Yes, I think GitHub Actions should be the default and leave GitLab CI template in because I think people will still want to keep private repositories on gitlab.

Now we've got the paper out I think we should add a note about citing it too, In scikit-surgeryfred I put a citing section in the readme. We could put this in the template.

[2020-06-25 14:35] tdowrick opened #59 "Dev meeting 25/06/2020"
**Summer school**
- [x] Fiducuial registration - Steve has pushed to master on MPHY0026
- [x] Camera calibration - Matt in progress
- [x] Overlay - Tom in progress
- [x] Pivot calibration - to do

**Python Template**
https://github.com/UCL/scikit-surgery/issues/58
Keep gitlab CI for people who want private repos on WeissLab.
Set default repo location to GitHub
Don't make it sound like it is only f

[2020-06-25 15:22] tdowrick commented on #58
From dev meeting:

Keep gitlab CI for people who want private repos on WeissLab.
Set default repo location to GitHub
Don't make it sound like it is only for WEISS projects - check over text for things that can be removed

[2020-07-03 09:21] tdowrick commented on #51
**scikit-surgeryutils**

- [x] Files/git history moved
- [x] Issues moved
- [x] CI working for Windows/Linux, using GitHub Actions. (Skipping Mac CI, as there are issues with GPU)
- [x] Old CI files removed
- [x] Badges updated
- [x] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [x] Update read the docs
- [x] Relevant links changed to point to GitHub rather than GitLab
- [x] Changes merge

[2020-07-09 14:52] tdowrick opened #60 "Dev meeting 09/07/2020"
**Python Template**
Don't need to include requirements doc by default - update when transferring GitLab->GitHub

**SNAPPY**
- [ ] Good summary page on scikit-surgery repo, listing all librarires
- [ ] Look into Sphinx to figure out how to get the module contents to come up in the main index panel on the landing page.
- [ ] Each library should have a 'nice looking' read the docs page, and at least

[2020-07-09 14:56] MattClarkson commented on #51
@thompson318 - most of this issue is done? close?

[2020-07-09 14:57] MattClarkson commented on #50
Lets close this. In effect... its done.

[2020-07-09 14:57] #50 closed

[2020-07-13 13:30] #59 closed

[2020-07-13 13:35] thompson318 commented on #51
There's a couple of things to do on snappysonic first. (see list above)

[2020-07-16 09:48] thompson318 commented on #51
sciikit-surgerytrackervisualisation
- [] Files/git history moved
- [] Issues moved
- [] CI working for Mac/Windows/Linux, using GitHub Actions
- [] Old CI files removed
- [] Badges updated
- [] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [] Update read the docs
- [] Relevant links changed to point to GitHub rather than GitLab
- [] Changes merged

[2020-07-16 09:49] #57 closed

[2020-07-16 09:50] thompson318 commented on #51
**sciikit-surgery-evaluation**

- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-07-16 09:52] thompson318 commented on #51
**SNAPPY Tutorial 01**

- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-07-16 09:52] thompson318 commented on #51
**SNAPPY Tutorial 02**

- [ ] Files/git history moved
- [ ] Issues moved
- [ ] CI working for Mac/Windows/Linux, using GitHub Actions
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [ ] Relevant links changed to point to GitHub rather than GitLab
- [ ] Changes merged

[2020-07-16 09:55] tdowrick commented on #58
- [x] Files/git history moved
- [ ] Issues moved
- [ ] Register project with coveralls, add coveralls.yml file, add coveralls and pyyaml to requirments-dev
- [ ] CI working for Windows/Linux, using GitHub Actions. (Skipping Mac CI, as there are issues with GPU)
- [ ] Old CI files removed
- [ ] Badges updated
- [ ] Add PYPI_API_TOKEN as Secret and Test deploy to PyPI
- [ ] Update read the docs
- [

[2020-07-16 15:14] tdowrick opened #61 "Dev meeting 16/07/2020"
**ReadTheDocs**
- [ ] Mian to finalise scikit-surgerycore style, and get review from others,.

**SNAPPY Documentaiton**
- scikit-surgery should a good introduction to what SNAPPY is for, and then links to individual libraries and tutorials (these tutorials could be Bard/MPHY0026/other scikit-surgery repos)
- Where to keep the introduction? scikit-surgery is a GitHub repo, but doesn't have much act

[2020-07-23 14:56] tdowrick opened #62 "Try using intersphinx extension to render pages from other repos in the docs"

[2020-08-10 13:45] #51 closed

[2020-09-10 15:02] tdowrick opened #64 "Dev meeting 10/09/2020"
- [x]  Run rigid/non-rigid deformation in SmartLiver - Tom
- [x]  Ongoing documentation - See https://github.com/UCL/scikit-surgery/wiki/Documentation-Standard for guide to documentation standard.

@MattClarkson @thompson318 @mianasbat

[2020-09-10 15:02] #60 closed

[2020-09-10 15:02] #61 closed

[2020-09-15 09:58] mianasbat opened #65 "Adding total number of projects or a "Serial No" column to the Table on home page"
Would it be convenient to have a total number of projects/packages on the [home page](https://github.com/UCL/scikit-surgery/wiki). Another way could be to add the serial number column to the table and on the glance one could find the total packages/projects.

@tdowrick @thompson318 @MattClarkson

[2020-09-15 10:05] mianasbat commented on #65
Feel free to assign me to issues, if you guys think the issue make sense and needs changing!

[2020-09-15 10:08] mianasbat opened #66 "Python Package Indexer PyPI typo"
According to strict rules we need to update PiPy to PiPY on the [home page](https://github.com/UCL/scikit-surgery/wiki). Checked the acronym on https://pypi.org/.

@tdowrick @thompson318 @MattClarkson

[2020-09-15 10:20] mianasbat opened #67 "Build failing for scikit-surgery"
It seems that the build is failing for master branch of project scikit-surgery (https://github.com/UCL/scikit-surgery) . Is it because of the migration issues?

@tdowrick @thompson318 @MattClarkson

[2020-09-15 10:29] mianasbat opened #68 "Is the link correct for the list of common issues?"
The link for the list of common issues point to new page on project wiki in readme.rst file.
Check on page https://github.com/UCL/scikit-surgery where it says [Please check list of common issues.]
I believe this link should point to the issues page i.e https://github.com/UCL/scikit-surgery/issues

@tdowrick @thompson318 @MattClarkson

[2020-09-15 10:34] thompson318 commented on #68
Yes, it would make more sense to point to the github issues.

[2020-09-15 10:35] thompson318 commented on #65
I'm not sure. It creates another maintenance task, and anyone wanting to know the total number can count them.

[2020-09-15 10:56] mianasbat opened #69 "Do we need to have internal PyPI column?"
The main table on project [wiki page](https://github.com/UCL/scikit-surgery/wiki) shows internal PiPY column and in all cases its value is either N/A or Null. In that case would it make sense to keep this column?

I remember setting up a test PyPI server internally on my mac but it wasn't used. So is it our requirement to have an internal PyPI server? if not then why keep the column?

@tdowrick @t

[2020-09-15 10:57] thompson318 commented on #69
I think we can remove it.

[2020-09-15 15:10] mianasbat opened #70 "formatting/typos on the wiki page"
Following are some of the minor formatting or typos issues on the wiki page https://github.com/UCL/scikit-surgery/wiki

- [x] The title 'home' should be removed from the page
- [x] WEISS and EPSRC may be written in full in first para
- [x] Few of the Yes starts with small y.
- [ ] six package is no more used in the scikit-surgerycore so should be removed from notes column for scikit-surgerycore

@

[2020-09-16 21:53] mianasbat commented on #69
The internal PyPI column is removed.

[2020-09-16 21:53] #69 closed

[2020-09-16 21:59] mianasbat commented on #68
The link is updated to the correct webpage i.e. https://github.com/UCL/scikit-surgery/issues

[2020-09-16 21:59] #68 closed

[2020-09-16 22:08] mianasbat commented on #70
The title home changed to Home
WEISS is already defined, I just added  it in brackets i.e. (WEISS)
yes starting with small y changed to Yes (capital y)
From the table row i.e. scikit-surgerycore, six is removed.

[2020-09-16 22:08] #70 closed

[2020-09-17 21:36] mianasbat commented on #67
The test log shows error `No file or directory present` on line 44 in `test_docs_complete.py`. I was exploring it and I found that os.listdir() is given relative path. I gave it absolute path i.e. `/Users/mianasbatahmad/temp/scikit-surgery/modules` and that specific error disappeared. I also found that os.listdir() is not very comfortable with relative path as discussed on https://bit.ly/2ZP838u
I

[2020-09-18 11:05] mianasbat commented on #67
Tom and I looked it this morning and that was very helpful. So one reason the tests were failing on my computer was that my modules directory contained .DS_Store directory and the code was looking for docs in all directories inside module directory. We added code to only consider directories starting with scikit- to fix it.

Secondly the submodules are empty directories (linked to respective repos

[2020-09-24 13:31] MattClarkson opened #71 "Get domain name"
scikit-surgery.org

redirect to: https://scikit-surgery.readthedocs.io/en/latest/?badge=latest

[2020-10-01 11:20] mianasbat commented on #71
Ron has been requested to register a domain name scikit-surgery.org for us and redirect the URL to above URL.

[2020-10-22 13:09] tdowrick opened #72 "Update documentation for all repos"
# Already done
* scikit-surgeryvtk
* scikit-surgerycore
* scikit-surgeryimage
* scikit-surgerycalibration

[2020-10-22 13:19] MattClarkson commented on #67
Discussed 22/10/2020:

* scikit-surgery is top-level management project, with docs. It doesn't itself contain code.
* Remove badges, and CI, make it obvious that this project is just documentation

[2020-10-22 13:21] MattClarkson opened #73 "Add introduction to ReadTheDocs homepage for scikit-surgery"
* Short summary - what is scikit-surgery
* Pictures of things we've built
* List of publications
* Links to tutorials
* Branding?

Note: Wiki is for Developers, ReadTheDocs is for Users.

* Try to take User-centric stuff off Wiki, and put on ReadTheDocs page.

[2020-10-22 13:25] tdowrick commented on #67
Closed by #74

[2020-10-22 13:25] #67 closed

[2020-10-22 13:25] MattClarkson opened #75 "Ideas for New Tutorials"
With a view to promoting scikit-surgery, what new Tutorials should we have? Add thoughts below.

@tdowrick @mianasbat @thompson318

[2020-10-22 13:29] #64 closed

[2020-10-22 13:29] #62 closed

[2020-10-22 13:32] MattClarkson opened #76 "Ideas for New Directions"
* Integrate with ROS
* Integrate with OpenIGTLink? i.e. use OpenIGTLink to integrate with Slicer/PLUS
* Make it easier for MSc/BSc projects to use?

[2020-10-22 13:39] MattClarkson opened #77 "Dev Meeting: 22/10/2020"
Present: @MattClarkson @mianasbat @tdowrick
Apols: @thompson318

Things closed since last week:
* #64
* #67

Actions:
* #71 - domain name
* #71 - updating all scikit-surgery sub-projects to be compliant with new documentation standard. @mianasbat to help @tdowrick
* #73 - Need nice intro for scikit-surgery, as landing page dull
* #75 - To promote scikit-surgery, new tutorials?
* #76 - Discuss new

[2020-10-22 13:40] MattClarkson commented on #77
Decided to update scikit-surgery docs once per month, or on any major release, rather than try to be too clever.

[2020-10-26 09:11] mianasbat commented on #71
Sent a reminder to Ron on Thursday but no response till now. I will update when I hear anything from him.

[2020-10-26 10:14] thompson318 commented on #75
I've been working (intermitently) on updating tutorial 1 so it shows how to hook a scikit-surgerytracker to an overlay window. i.e. it will have a better structure.

[2020-10-26 10:16] thompson318 commented on #75
Some sort of real time classifier or surface reconstruction using sksurgery-pytorch?

[2020-10-26 17:33] tdowrick commented on #72
scikit-surgerytorch done

[2020-10-27 09:19] tdowrick commented on #72
surgerytf done
surgeryutils done

[2020-10-27 10:11] tdowrick commented on #72
surfacematch done

[2020-10-28 14:16] tdowrick commented on #77
I have updated documentation for scikit-surgeryutils, surfacematch, torch and tf.

I've also added a list of all current tutorials (that I could find) to the scikit-surgery README, which is also included in the readthedocs page.

[2020-10-28 15:33] tdowrick commented on #77
For reference, this is how to manually update all submodules, to pull in any changes to the documentation:

[code]

[2020-10-28 15:57] thompson318 commented on #77
Should also list surgery*tracker and surgery speech on the list of packages

[2020-10-28 16:50] tdowrick commented on #77
I'm updating the documentation for them at the moment, then can add to the main list.

Do you own the Readthedocs project for nditracker, and can you add me to it?

[2020-10-29 08:26] thompson318 commented on #77
Thanks. I've added you as maintainer to a bunch of my readthedocs projects.

[2020-10-29 10:23] mianasbat opened #79 "Version on PyPI needs updating!"
The available version on PyPI shows the build failing and we probably needs to push new version of repo to PyPI server to reflect the latest updates.

[2020-10-29 11:17] tdowrick commented on #79
Since we're now using this as a documentation only repository, we can probably remove the entry from PyPI as we don't want people to install it.

[2020-10-29 14:15] tdowrick commented on #72
nditracker and arucotracker done
surgeryspeech has been updated, but there is a build issue on RTD, PyAudio doesn't work with the default RTD python version,

[2020-10-29 14:16] #72 closed

[2020-10-29 14:58] MattClarkson opened #80 "Dev Meeting: 29/20/2020"
Present: @MattClarkson @mianasbat @tdowrick  @thompson318

Things closed since last week:
* #72 - update docs for all repos, and amalgamate into front page

Actions:
* #71 - domain name
* #73 - Need nice intro for scikit-surgery, as landing page dull
* #75 - To promote scikit-surgery, new tutorials?
* #76 - Discuss new directions?
* Email WEISS or Find User for OpenIGTLink to integrate with PLUS?

[2020-10-29 14:59] #77 closed

[2020-10-30 11:23] mianasbat commented on #79
I guess better would be to push a new package even if only documentation instead of deleting it. BECAUSE

On searching scikit-surgery the first link appears for PIPy server as below
<img width="926" alt="Screenshot 2020-10-30 at 11 20 06" src="https://user-images.githubusercontent.com/2621305/97699532-35870f80-1aa2-11eb-80cd-8e993b0729aa.png">

And now after delete on clicking that link I get 404

[2020-10-30 11:31] tdowrick commented on #79
I imagine this will disappear from Google rankings fairly quickly, so might be OK to leave it.

[2020-10-30 11:34] mianasbat commented on #79
Okay yes true.
I think it also makes sense to not have documentation only package on PIPy server. Right?

[2020-10-30 15:00] #79 closed

[2020-11-02 12:55] mianasbat opened #81 "Top left logo not appearing in surgerytutorial01 docs"
On page https://scikit-surgerytutorial01.readthedocs.io/en/latest/ the logo on top left is missing.

[2020-11-02 13:03] mianasbat opened #82 "Links need updating"
The two links on wiki page shown in the following picture needs updating. Details given below.

<img width="1141" alt="Screenshot 2020-11-02 at 12 59 22" src="https://user-images.githubusercontent.com/2621305/97870793-5a31f000-1d0b-11eb-9e47-cf9b1bc33fa6.png">

SciKit-Surgery Tutorial 01 link needs updating from https://weisslab.cs.ucl.ac.uk/WEISS/SoftwareRepositories/SNAPPY/SNAPPYTutorial01 to ht

[2020-11-03 10:40] thompson318 commented on #81
Raised issue in tutorial 01 (

[2020-11-03 10:40] #81 closed

[2020-11-03 11:01] thompson318 commented on #82
fixed on wiki

[2020-11-03 11:01] #82 closed

[2020-11-03 15:42] mianasbat commented on #82
Thanks @thompson318 for fixing, working fine now.

[2020-11-04 11:48] thompson318 commented on #76
Get a nice GUI for camera calibration, integrating surgery-calibration and surgery*tracker so people can easily do camera and handeye calibration. It would be worth doing a bit more research into what's out there, but from what I can see the Matlab toolboxes are the preferred way to do this. That would make a nice application that people would use?

[2020-11-04 11:59] thompson318 commented on #76
Get some more models of registration error built into core, or perhaps a new library, sk-uncertainty, sk-regerror?
https://doi.org/10.1007/s11517-020-02265-y
https://doi.org/10.1007/978-3-030-59716-0_26
https://ieeexplore.ieee.org/document/4359072

[2020-11-04 13:08] thompson318 commented on #76
Get BARD setup so it functions as a bare bones clinical guidance system by swapping sksurgeryaruco with sksurgerynditracker

[2020-11-05 14:14] tdowrick commented on #76
Test edit

[2020-11-05 14:25] tdowrick opened #83 "ROS Examples"
* How to use scikit-surgery with ROS
* Node that takes liver image as input, and returns segmented output
* Which other ROS nodes do IGS stuff?

@MattClarkson @thompson318 @mianasbat

[2020-11-05 14:47] MattClarkson opened #84 "Create SciKit-Surgery home page on github pages"
And ask Ron to point URL at it.

[2020-11-05 14:53] #80 closed

[2020-11-05 14:57] #66 closed

[2020-11-05 15:02] MattClarkson opened #85 "Dev Meeting - 5/11/2020"
Present: @MattClarkson @mianasbat @tdowrick  @thompson318

Things closed since last week:
* #73 - Need nice intro for scikit-surgery, as landing page dull

Actions:
* #71 - domain name
* #75 - To promote scikit-surgery, new tutorials?
* #76 - Discuss new directions?
* Email WEISS or Find User for OpenIGTLink to integrate with PLUS?
* Email WEISS, "who would be interested in using ROS with SNAPPY?"

[2020-11-10 09:59] mianasbat commented on #71
Sent a reminder to Ron about domain name on teams.

[2020-11-10 10:01] mianasbat commented on #65
Okay it seems that it is not needed. So it can be closed.

@MattClarkson

[2020-11-10 10:27] mianasbat commented on #71
The domain name 'scikit-surgery.org' is registered.

[2020-11-10 12:16] #73 closed

[2020-11-10 14:51] mianasbat commented on #84
I added the first draft http://github-pages.ucl.ac.uk/scikit-surgery/
Branch name is web.

I changed the default header colour from blue-green as in [deepreg.net](deepreg.net) to red-orange to make it a bit different.

I also added some initial contents mentioned on [issue 73](https://github.com/UCL/scikit-surgery/issues/73).

Please comment/feedback.

@MattClarkson @thompson318 @tdowrick

[2020-11-10 15:01] tdowrick commented on #84
I would add links to the documentation and the github repo right at the top, like they have done with deepreg, but otherwise the layout looks good.

Guess we should try and come up with a logo?

[2020-11-10 15:12] thompson318 commented on #84
I agree with Tom, it needs some links at the top. You could try using WEISS blue (0.0, 0.384, 0.490) rather than orange for branding. The hunt is on for a logo.

[2020-11-10 15:22] mianasbat commented on #84
Thanks for the feedback.
I will add the button-link for documentation.
For github button, actually I spent some time to disable it because in deepreg case, they have one repo to point to but in our case where will we point it to?

[2020-11-10 15:47] mianasbat commented on #84
"Read the docs" button added to the page. http://github-pages.ucl.ac.uk/scikit-surgery/

[2020-11-11 10:34] tdowrick commented on #83
I've made a start on this, but it seems that ROS only officialy support Python 2.7. It is possible to configure it for Python 3, but it is somewhat involved and I don't think we could assume that a user would be able to do it for the purposes of a tutorial.

Some of the packages will work with Pytohn 2.7, but tensorflow/torch etc, or any of the C++ built libraries would probably cause some issues.

[2020-11-11 10:38] mianasbat commented on #84
http://scikit-surgery.org is now functional and directed to http://github-pages.ucl.ac.uk/scikit-surgery/

[2020-11-11 10:39] mianasbat commented on #84
I have also requested to Ron for SSL license for scikit-surgery.org

[2020-11-11 10:40] thompson318 commented on #83
surgery-nditracker  should work with py27. So could so a basic tracking source. Though is ros already has nodes for ndi I'm not sure who'd use it.

[2020-11-11 10:40] mianasbat opened #87 "SSL certificate for scikit-surgery.org"
Request and follow with Ron for SSL license for scikit-surgery.org website.

[2020-11-11 14:02] mianasbat opened #88 "The redirect causing github links to fail."
The github links to individual repository on scikit-surgery.org are failing after redirect. Other links are working fine.

[2020-11-11 14:06] tdowrick commented on #83
ROS 2.0 does support Python 3, but my (limited) understanding is that ROS 1 is still the more widely used version.

However, for the purposes of give some brief examples of how scikit-surgery can work with ROS, using 2.0 is probably fine, especially if we can then show features that we can't if we are limited to Python 2.7.

[2020-11-11 14:13] thompson318 commented on #83
I agree it makes sense to use ROS 2.0.

[2020-11-11 14:28] mianasbat opened #89 "list of publications for home page"
Is there any list of publications associated with scikit-surgery/SNAPPY which I can use to add contents to publications section on http://scikit-surgery.org page.

@MattClarkson @thompson318 @tdowrick

[2020-11-11 14:39] thompson318 commented on #89
Thompson S, Dowrick T, Ahmad M, et al. SciKit-Surgery: compact libraries for surgical navigation. International Journal of Computer Assisted Radiology and Surgery. 2020 Jul;15(7):1075-1084. DOI: 10.1007/s11548-020-02180-5.
[](url https://doi.org/10.1007/s11548-020-02180-5)
[](url https://img.shields.io/badge/Cite-SciKit--Surgery-informational)

[2020-11-11 14:40] mianasbat commented on #88
I think the issue is because of no SSL license for scikit-surgery.org. As a result the github links dont trust the link and therefore not opening the link.
Until the SSL is applied, I fixed the issue by modifying the link to open in new tab. With that all the github links are now opening fine in new tab.

[2020-11-11 14:41] thompson318 commented on #89
Thompson S, Dowrick T, Xiao G, et al. SnappySonic: An Ultrasound Acquisition Replay Simulator. Journal of Open Research Software. 2020 ;8(1):8. DOI: 10.5334/jors.289.
http://doi.org/10.5334/jors.289
https://img.shields.io/badge/DOI-10.5334%2Fjors.289-blue

[2020-11-11 14:41] mianasbat commented on #87
Sent a request email to Ron to buy ssl license for our domain scikit-surgery.org.

[2020-11-11 14:42] thompson318 commented on #89
Thompson, S; Dowrick, T; Ahmad, M; Opie, J; Clarkson, M; (2021) Are fiducial registration error and target registration error correlated? SciKit-SurgeryFRED for teaching and research. In: (Proceedings) SPIE Medical Imaging Image-Guided Procedures, Robotic Interventions, and Modeling. SPIE (In press).
https://discovery.ucl.ac.uk/id/eprint/10112339/

[2020-11-12 11:00] mianasbat opened #90 "animation to go on scikit-surgery.org webpage"
Could you please share any candidate image/git/animation that I could add to the scikit-surgery.org page.

You can share the page link if the object is not easy to share.

E.g. a couple of animation I know are

https://github.com/UCL/scikit-surgerytutorial02
https://scikit-surgerytutorial01.readthedocs.io/en/latest/

@MattClarkson @thompson318 @tdowrick

[2020-11-12 11:13] thompson318 commented on #90
There's a few videos and a gif on the docs page under applications.
https://scikit-surgery.readthedocs.io/en/latest/?badge=latest

I'm not sure we want to put too many animations on the main page. First and foremost it must be easy to navigate. Animations may distract from that.?

[2020-11-12 11:32] mianasbat commented on #89
The above three publications have been added to the publications section of http://scikit-surgery.org/.

[2020-11-12 11:35] thompson318 commented on #89
Thanks Mian. On the first two can you remove the links to https://img.shields.io? They are just handy badges that I've added to a few of the repositories.

[2020-11-12 11:43] mianasbat commented on #89
I have removed the badges. Thanks for checking.
The updates are reflected usually after 5 minutes.

[2020-11-12 14:16] MattClarkson commented on #87
We think we don't need this, as once redirected, the destination site has correct SSL.

[2020-11-12 14:16] #87 closed

[2020-11-12 19:10] mianasbat commented on #87
So you were right, confirmed :)

Ron has updated the redirect to make it non persistent.
No more insecure and no need of ssl all is good now

[2020-11-12 19:11] mianasbat commented on #88
The redirect is fixed by Ron. So all is good now. The github links are not failing any more.

[2020-11-12 19:12] mianasbat commented on #88
This issue could be closed now.
@MattClarkson

[2020-11-12 20:41] mianasbat commented on #84
This issue could also be closed because the home page is up and running using github pages.
@MattClarkson

[2020-11-12 20:42] mianasbat commented on #90
If no animations need to go on the scikit-surgery.org page then we can close this issue.
@MattClarkson

[2020-11-17 11:08] #90 closed

[2020-11-20 14:21] tdowrick commented on #83
I've added a little chessboard detection example/tutorial to demonstrate compatibility with ROS2, which I've also added to the list of tutorials on the main page.

https://scikit-surgery.readthedocs.io/en/latest/ros.html

[2020-11-20 22:18] #88 closed

[2020-11-20 22:18] #84 closed

[2020-11-26 10:44] mianasbat opened #92 "Twitter account for scikit-surgery"
I believe it will be nice to have an official twitter account about scikit-surgery. Since scikit-surgery is growing it will be nice to tweet about new version of library or any updates and also to have a place which people can follow.

@MattClarkson @thompson318 @tdowrick

[2020-11-26 15:13] tdowrick commented on #92
We discussed briefly in SNAPPY meeting.

In principle, a good idea, but unless there is someone specifcally allocated to operating the account it might remain unused. In the meantime we can flag anything of note to the main WEISS/Med Phys accounts.

[2020-11-30 14:54] #71 closed

[2020-12-03 11:31] tdowrick commented on #83
Closing, as we have one example up. Can create new issues if there are specific things to implement.

[2020-12-03 11:31] #83 closed

[2020-12-03 14:27] #85 closed

[2020-12-03 14:45] MattClarkson opened #93 "Dev Meeting - 3/12/2020"
Present: @MattClarkson @mianasbat @tdowrick  @thompson318

Things closed since last week:
* #71 - domain name
* #75 - To promote scikit-surgery, new tutorials?

Actions:
* @MattClarkson - Ask Dan - new WEISS projects?
* @tdowrick Email WEISS, "who would be interested in using ROS with SNAPPY?"
* @tdowrick Email WEISS or Find User for OpenIGTLink to integrate with PLUS?

Discussed:
* @tdowrick - lo

[2020-12-09 09:26] mianasbat opened #94 "Add scikit-surgery logo"
Add the logo created by Simone for Scikit-surgery to the webpage.

[2020-12-10 09:07] mianasbat opened #95 "Make the logo responsive"
The logo is fixed size. Make it responsive to appear nicely on all devices.

![Screenshot_20201209-105854](https://user-images.githubusercontent.com/2621305/101761093-a7a43880-3ad3-11eb-8311-c2118765a8ae.png)

[2020-12-10 09:08] mianasbat opened #96 "Change header colour"
Change the colour of the header of scikit-surgery.org to see how logo looks with other backgrounds.

[2020-12-10 09:09] mianasbat opened #97 "Remove the subtitle"
Remove the subtitle from scikit-surgery webpage.
The details are given in the body of the page.

[2020-12-10 09:11] mianasbat commented on #94
The logo is looking fine.
Check relates issues #95 #96 #97

[2020-12-10 09:11] #94 closed

[2020-12-10 10:10] mianasbat commented on #96
I have changed the header colour to grey. For comparison I took before and after images :)
Let me know what do you guys think.
The new one can also be seen live on http://scikit-surgery.org

OLD
<img width="1920" alt="Screenshot 2020-12-10 at 10 04 15" src="https://user-images.githubusercontent.com/2621305/101757957-b2f56500-3acf-11eb-8ce5-cb4fd5320a19.png">

NEW
<img width="1920" alt="Screenshot

[2020-12-10 10:21] tdowrick commented on #96
Looks good to me

[2020-12-10 10:23] mianasbat opened #98 "Logo not rendering properly on firefox ubuntu"
It renders a bit weird for me on Firefox (Ubuntu), Chrome is fine, see attached screenshot.

![screenshot](https://user-images.githubusercontent.com/2621305/101759593-b38efb00-3ad1-11eb-861e-b85bd7fa4f24.png)

[2020-12-10 15:31] mianasbat opened #99 "change heading styles"
Now that its decided that the header colour will be grey. Change the font style to match the header.

[2020-12-10 15:32] mianasbat commented on #96
It is decided to keep the grey header colour in SNAPPY meeting on 10 December.
This issue can be closed now.

[2020-12-10 15:32] #96 closed

[2020-12-11 09:32] mianasbat commented on #95
The image has been made responsive and it is behaving fine now.

IPAD screen

<img width="604" alt="Screenshot 2020-12-11 at 09 29 55" src="https://user-images.githubusercontent.com/2621305/101886611-a76b7200-3b93-11eb-8035-dfb387bcb20e.png">

IPhone X screen

<img width="473" alt="Screenshot 2020-12-11 at 09 29 42" src="https://user-images.githubusercontent.com/2621305/101886655-b520f780-3b93-11e

[2020-12-11 09:47] mianasbat commented on #95
Its responsive but then it looks too big on computer screen. LOL needs fixing.

![Uploading Screenshot 2020-12-11 at 09.47.27.png…]()

[2020-12-11 09:59] mianasbat commented on #95
Okay it seems good for all screens now.

[2020-12-11 09:59] #95 closed

[2020-12-11 10:13] mianasbat commented on #97
Subtitle removed.

[2020-12-11 10:13] #97 closed

[2020-12-17 08:55] thompson318 commented on #98
Commit 52aa253 didn't seem to make any difference.

[2020-12-17 08:59] mianasbat commented on #98
@thompson318
After I made the logo responsive in issue #95, is this issue not fixed?
Can you check the live webpage now and see how it behave on both browsers? thanks.

[2020-12-17 09:03] mianasbat commented on #92
Not needed for now.

[2020-12-17 09:03] #92 closed

[2020-12-17 09:07] thompson318 commented on #98
No, still broken for me.

[2020-12-17 17:28] mianasbat commented on #98
@thompson318
I have merged the changes. Give it a try after few minutes.

[2020-12-17 19:08] #98 closed

[2021-01-07 14:57] #89 closed

[2021-01-07 14:57] #93 closed

[2021-01-07 15:12] mianasbat opened #101 "change header colour"
Change header colour of http://scikit-surgery.org to yellow as discussed.

[2021-01-07 15:14] tdowrick opened #102 "Dev meeting 07/01/2021"
* Discussion point - Is there a novel experiment we can conduct alongisde MPHY0026, with student involvment?

Actions

* Tom & Mian - Test surgery-docker, with view to release before All WEISS meeting on 26th

@MattClarkson @mianasbat @thompson318

[2021-01-07 15:34] mianasbat commented on #101
I changed the colour to yellow but it was too bright as given in the picture below.
So I changed the colour again to a bit cool yellow given in the options. Check changes online http://scikit-surgery.org
Let me know if it needs changing.

The current one

<img width="1920" alt="Screenshot 2021-01-07 at 15 34 00 (2)" src="https://user-images.githubusercontent.com/2621305/103911346-ceb74f80-50fd-11e

[2021-01-07 15:36] mianasbat commented on #99
After the header colour change the headings don't look too out.
I dont know if we still need to change them.
Please have a look online http://scikit-surgery.org and give your thoughts here. Thanks.

[2021-01-07 15:41] thompson318 commented on #101
I prefer the 2nd one, brighter and yellower. Thought the text colour on the read the docs button would need changing.

[2021-01-07 19:40] mianasbat commented on #101
I changed the colour to yellow. Have a look. It looked a bit too bright to me.
If you guys are happy with yellow colour. I will check how to change the button colour.

[2021-01-07 20:25] thompson318 commented on #101
I prefer it, but don't have strong feelings about it.

[2021-01-12 09:52] mianasbat commented on #101
Okay Matt is also happy with yellow colour so yellow colour it is.

[2021-01-12 09:52] #101 closed

[2021-01-12 09:52] mianasbat opened #103 "Change button colour in header"
Change button colour so that it becomes visible in red colour.

[2021-01-13 09:43] mianasbat opened #104 "GPU sample program for containerization"
To show the scikit-surgerydocker working examples with both CPU and GPU programs. I created a new repo that will contain the [CPU program](https://github.com/UCL/cpu-ex). The scikit-surgerydocker documentation will show how to get that CPU program and containerize it using scikit-surgerydocker.

I am wondering if we have one of our own sample program that uses GPU to take some input data, process

[2021-01-13 09:54] thompson318 commented on #104
This is GPU;
https://weisslab.cs.ucl.ac.uk/ThomasDowrick/stereo-recon-example

[2021-01-13 09:56] mianasbat commented on #104
Thanks. I will look into it.

[2021-01-13 13:02] mianasbat commented on #99
Changed headings from red to blue.

[2021-01-13 13:02] #99 closed

[2021-01-13 13:47] mianasbat commented on #103
I am happy with the button and hover colour.
we can reopen the issue if anyone would like to try another colour.

[2021-01-13 13:47] #103 closed

[2021-01-13 13:48] thompson318 commented on #103
Looks good to me too, thank you.

[2021-01-28 16:29] tdowrick opened #105 "ROS/scikit-surgery project"
Me and @grdwyer had a bit of a chat about what we can do to start some ROS integration.

George's project involves robotics for creating facial implants in surgery, working with Hani (I'm sure he can explain more eloquently than me....), and most of his stuff is in ROS.

Creating this issue for some general brainstorming etc. So far we discussed:

- Creating a python library for getting tracking d

[2021-02-03 11:39] grdwyer commented on #105
Sorry for taking a while to reply

@tdowrick got it mostly spot on it's implants to reseal the skull after skull base surgery. The idea would be to use the stealth station to measure the defect created in surgery to then make the implant that will seal it.

What would be the best way to start this up? I'm happy to start having a look at making some ROS interfaces to the packages  already up and ru

[2021-04-15 13:27] #102 closed

[2021-04-15 13:30] MattClarkson opened #106 "Dev Meeting - 2021-04-15"
Catch up. First in summer term.

Working on:
* @thompson318 - finishing MICCAI reviews, minor BARD updates, developing grant ideas
* @tdowrick - finish up before mat leave.
* @mianasbat - preparing docker Summer of Code demo, PT node tweaks, updates to weisslab etc.

So, all busy, on various productive things.

@tdowrick  - can you close down any issues in this repo, if poss? THanks.

[2021-05-06 13:30] MattClarkson opened #107 "Dev Meeting - 2021-05-06"
Discussed

@mianasbat -

* Look at diary, plan festival, finish scikit-surgerydocker, for publication

# scikit-surgerydocker paper

Explain how to run

* locally, CPU
* locally, GPU
* Remote, e.g. Synapse for MICCAI challenge

Journals - CMPB? Jors?

@thompson318 -

* Working on grant application
* Working on BARD paper
* Done marking for MPHY0026

[2021-05-06 15:19] #106 closed

[2022-01-06 16:23] thompson318 opened #116 "Fix citation file"
see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files for how to cite a paper properly

[2022-01-12 10:55] #116 closed

[2022-05-30 10:49] tdowrick opened #118 "Breaking changes to utils and calibration"
[code]

[2022-05-31 15:53] thompson318 commented on #118
Thanks, looks generally OK with me. It would be worth sitting down and working out which of the command line apps that were originally in BARD we actually use for teaching. I think some of them are bit obsolete.

[2022-11-10 12:35] mxochicale commented on #107
Meetings moved to https://github.com/SciKit-Surgery/scikit-surgery/discussions/113

[2022-11-10 12:38] #107 closed

[2022-11-10 12:42] mxochicale commented on #65
Closed in favour of https://github.com/SciKit-Surgery/scikit-surgery-stats

[2022-11-10 12:42] #65 closed